﻿@model Wezit.DataModels.DTO.TruckOwnerDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Company Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.CompanyName)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Contact First Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.ContactPersonFirstName)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Contact Person Last Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.ContactPersonLastName)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Email Address</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Contact Number</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.ContactNumber)
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Country</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.CountryName)
    </div>
</div>
@foreach (var service in Model.ServiceProviders)
{
    <div class="row">
        <div class="col-md-2 text-right">
            @switch (service.ServiceProviderTypeCode)
            {
                case "CLR":
                    <label class="bold-text-600 txt-dark"></label>;
                    break;
                case "FUM":
                    <label class="bold-text-600 txt-dark"></label>;
                    break;
                case "INS":
                    <label class="bold-text-600 txt-dark"></label>;
                    break;
                case "MTC":
                    <label class="bold-text-600 txt-dark"></label>;
                    break;
                case "FC":
                    <label class="bold-text-600 txt-dark"></label>;
                    break;
            }

        </div><div class="col-md-10 txt-dark">
            @Html.DisplayFor(model => service.ServiceProviderName)
        </div>
    </div>
}