﻿@model Wezit.WebUI.Models.TruckOwnerViewModel


<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Company Name</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Company Name"
                   asp-for="CompanyName" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Contact Person First Name</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter First Name for Contact Person"
                   asp-for="ContactPersonFirstName" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Contact Person Last Name</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Last Name for Contact Person"
                   asp-for="ContactPersonLastName" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Email Address</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Email Address"
                   asp-for="EmailAddress" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Password</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-lock"></i></span>
            <input type="text" class="form-control input"
                   asp-for="Password" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Contact Number</label>
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Contact Number"
                   asp-for="ContactNumber" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Physical Address</label>
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Physical Address"
                   asp-for="PhysicalAddress" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Postal Address</label>
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Postal Address"
                   asp-for="PostalAddress" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Select Country</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <select class="form-control input" asp-for="CountryId" required>
                <option value="1">Malawi</option>
            </select>
        </div>
    </div>
</div>




