﻿@model Wezit.WebUI.Models.TruckOwnerViewModel
@{
    ViewData["Title"] = "Truck Owner Registration";
    ViewData["MainURLStub"] = "TruckOwner";
    ViewData["ShowPageButtons"] = false;

    Layout = "_RegistrationLayout";

    var insuranceProviders = Model.ServiceProviders.Where(x => x.ServiceProviderTypeCode.Equals("INS")).ToList();
    var fuelCompanyProviders = Model.ServiceProviders.Where(x => x.ServiceProviderTypeCode.Equals("FC")).ToList();
}
<form asp-action="Create" method="post" class="form-horizontal" name="truckCompanyForm">

    @{ Html.RenderPartial("../Shared/_MessageOutput"); }

    <div class="row">
        <div class="col-md-6">

            <div class=" mb-3 row">
                <label class=" control-label col-md-12">Company Name</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input" placeholder="Enter Company Name"
                           asp-for="CompanyName" required>
                </div>
            </div>
            <div class=" mb-3 row">
                <label class=" control-label col-md-12">Contact Person First Name</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input" placeholder="Enter First Name for Contact Person"
                           asp-for="ContactPersonFirstName" required>
                </div>
            </div>
            <div class=" mb-3 row">
                <label class=" control-label col-md-12">Contact Person Last Name</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input" placeholder="Enter Last Name for Contact Person"
                           asp-for="ContactPersonLastName" required>
                </div>
            </div>
            <div class=" mb-3 row">
                <label class=" control-label col-md-12">Email Address</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input" placeholder="Enter Email Address"
                           asp-for="EmailAddress" required>
                </div>
            </div>
            <div class=" mb-3 row">
                <label class=" control-label col-md-12">Password</label>
                <div class="col-md-12">
                    <input type="password" class="form-control input"
                           asp-for="Password" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="control-label col-md-12">Insurance Partner</label>
                <div class="col-md-12">
                    <select class="form-control input" name="INS"
                            asp-items="@(new SelectList(insuranceProviders, "ServiceProviderId", "ServiceProviderName") )" required></select>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class=" mb-3 row">
                <label class=" control-label col-md-12">Select Country</label>
                <div class="col-md-12">
                    <select class="form-control input" asp-for="CountryId" id="ddlCountry" required>
                        <option value="1">Malawi</option>
                        <option value="2">Afghanistan</option>
                        <option value="3">Albania</option>
                        <option value="4">Algeria</option>
                        <option value="5">American Samoa</option>
                        <option value="6">Andorra</option>
                        <option value="7">Angola</option>
                        <option value="8">Anguilla</option>
                        <option value="9">Antarctica</option>
                        <option value="10">Antigua and Barbuda</option>
                        <option value="11">Argentina</option>
                        <option value="12">Armenia</option>
                        <option value="13">Aruba</option>
                        <option value="14">Australia</option>
                        <option value="15">Austria</option>
                        <option value="16">Azerbaijan</option>
                        <option value="17">Bahamas</option>
                        <option value="18">Bahrain</option>
                        <option value="19">Bangladesh</option>
                        <option value="20">Barbados</option>
                        <option value="21">Belarus</option>
                        <option value="22">Belgium</option>
                        <option value="23">Belize</option>
                        <option value="24">Benin</option>
                        <option value="25">Bermuda</option>
                        <option value="26">Bhutan</option>
                        <option value="27">Bolivia</option>
                        <option value="28">Bosnia and Herzegovina</option>
                        <option value="29">Botswana</option>
                        <option value="30">Brazil</option>
                        <option value="31">British Indian Ocean Territory</option>
                        <option value="32">British Virgin Islands</option>
                        <option value="33">Brunei</option>
                        <option value="34">Bulgaria</option>
                        <option value="35">Burkina Faso</option>
                        <option value="36">Burundi</option>
                        <option value="37">Cambodia</option>
                        <option value="38">Cameroon</option>
                        <option value="39">Canada</option>
                        <option value="40">Cape Verde</option>
                        <option value="41">Cayman Islands</option>
                        <option value="42">Central African Republic</option>
                        <option value="43">Chad</option>
                        <option value="44">Chile</option>
                        <option value="45">China</option>
                        <option value="46">Christmas Island</option>
                        <option value="47">Cocos Islands</option>
                        <option value="48">Colombia</option>
                        <option value="49">Comoros</option>
                        <option value="50">Cook Islands</option>
                        <option value="51">Costa Rica</option>
                        <option value="52">Croatia</option>
                        <option value="53">Cuba</option>
                        <option value="54">Curacao</option>
                        <option value="55">Cyprus</option>
                        <option value="56">Czech Republic</option>
                        <option value="57">Democratic Republic of the Congo</option>
                        <option value="58">Denmark</option>
                        <option value="59">Djibouti</option>
                        <option value="60">Dominica</option>
                        <option value="61">Dominican Republic</option>
                        <option value="62">East Timor</option>
                        <option value="63">Ecuador</option>
                        <option value="64">Egypt</option>
                        <option value="65">El Salvador</option>
                        <option value="66">Equatorial Guinea</option>
                        <option value="67">Eritrea</option>
                        <option value="68">Estonia</option>
                        <option value="69">Ethiopia</option>
                        <option value="70">Falkland Islands</option>
                        <option value="71">Faroe Islands</option>
                        <option value="72">Fiji</option>
                        <option value="73">Finland</option>
                        <option value="74">France</option>
                        <option value="75">French Polynesia</option>
                        <option value="76">Gabon</option>
                        <option value="77">Gambia</option>
                        <option value="78">Georgia</option>
                        <option value="79">Germany</option>
                        <option value="80">Ghana</option>
                        <option value="81">Gibraltar</option>
                        <option value="82">Greece</option>
                        <option value="83">Greenland</option>
                        <option value="84">Grenada</option>
                        <option value="85">Guam</option>
                        <option value="86">Guatemala</option>
                        <option value="87">Guernsey</option>
                        <option value="88">Guinea</option>
                        <option value="89">Guinea-Bissau</option>
                        <option value="90">Guyana</option>
                        <option value="91">Haiti</option>
                        <option value="92">Honduras</option>
                        <option value="93">Hong Kong</option>
                        <option value="94">Hungary</option>
                        <option value="95">Iceland</option>
                        <option value="96">India</option>
                        <option value="97">Indonesia</option>
                        <option value="98">Iran</option>
                        <option value="99">Iraq</option>
                        <option value="100">Ireland</option>
                        <option value="101">Isle of Man</option>
                        <option value="102">Israel</option>
                        <option value="103">Italy</option>
                        <option value="104">Ivory Coast</option>
                        <option value="105">Jamaica</option>
                        <option value="106">Japan</option>
                        <option value="107">Jersey</option>
                        <option value="108">Jordan</option>
                        <option value="109">Kazakhstan</option>
                        <option value="110">Kenya</option>
                        <option value="111">Kiribati</option>
                        <option value="112">Kosovo</option>
                        <option value="113">Kuwait</option>
                        <option value="114">Kyrgyzstan</option>
                        <option value="115">Laos</option>
                        <option value="116">Latvia</option>
                        <option value="117">Lebanon</option>
                        <option value="118">Lesotho</option>
                        <option value="119">Liberia</option>
                        <option value="120">Libya</option>
                        <option value="121">Liechtenstein</option>
                        <option value="122">Lithuania</option>
                        <option value="123">Luxembourg</option>
                        <option value="124">Macau</option>
                        <option value="125">Macedonia</option>
                        <option value="126">Madagascar</option>
                        <option value="127">Malaysia</option>
                        <option value="128">Maldives</option>
                        <option value="129">Mali</option>
                        <option value="130">Malta</option>
                        <option value="131">Marshall Islands</option>
                        <option value="132">Mauritania</option>
                        <option value="133">Mauritius</option>
                        <option value="134">Mayotte</option>
                        <option value="135">Mexico</option>
                        <option value="136">Micronesia</option>
                        <option value="137">Moldova</option>
                        <option value="138">Monaco</option>
                        <option value="139">Mongolia</option>
                        <option value="140">Montenegro</option>
                        <option value="141">Montserrat</option>
                        <option value="142">Morocco</option>
                        <option value="143">Mozambique</option>
                        <option value="144">Myanmar</option>
                        <option value="145">Namibia</option>
                        <option value="146">Nauru</option>
                        <option value="147">Nepal</option>
                        <option value="148">Netherlands</option>
                        <option value="149">Netherlands Antilles</option>
                        <option value="150">New Caledonia</option>
                        <option value="151">New Zealand</option>
                        <option value="152">Nicaragua</option>
                        <option value="153">Niger</option>
                        <option value="154">Nigeria</option>
                        <option value="155">Niue</option>
                        <option value="156">North Korea</option>
                        <option value="157">Northern Mariana Islands</option>
                        <option value="158">Norway</option>
                        <option value="159">Oman</option>
                        <option value="160">Pakistan</option>
                        <option value="161">Palau</option>
                        <option value="162">Palestine</option>
                        <option value="163">Panama</option>
                        <option value="164">Papua New Guinea</option>
                        <option value="165">Paraguay</option>
                        <option value="166">Peru</option>
                        <option value="167">Philippines</option>
                        <option value="168">Pitcairn</option>
                        <option value="169">Poland</option>
                        <option value="170">Portugal</option>
                        <option value="171">Puerto Rico</option>
                        <option value="172">Qatar</option>
                        <option value="173">Republic of the Congo</option>
                        <option value="174">Reunion</option>
                        <option value="175">Romania</option>
                        <option value="176">Russia</option>
                        <option value="177">Rwanda</option>
                        <option value="178">Saint Barthelemy</option>
                        <option value="179">Saint Helena</option>
                        <option value="180">Saint Kitts and Nevis</option>
                        <option value="181">Saint Lucia</option>
                        <option value="182">Saint Martin</option>
                        <option value="183">Saint Pierre and Miquelon</option>
                        <option value="184">Saint Vincent and the Grenadines</option>
                        <option value="185">Samoa</option>
                        <option value="186">San Marino</option>
                        <option value="187">Sao Tome and Principe</option>
                        <option value="188">Saudi Arabia</option>
                        <option value="189">Senegal</option>
                        <option value="190">Serbia</option>
                        <option value="191">Seychelles</option>
                        <option value="192">Sierra Leone</option>
                        <option value="193">Singapore</option>
                        <option value="194">Sint Maarten</option>
                        <option value="195">Slovakia</option>
                        <option value="196">Slovenia</option>
                        <option value="197">Solomon Islands</option>
                        <option value="198">Somalia</option>
                        <option value="199">South Africa</option>
                        <option value="200">South Korea</option>
                        <option value="201">South Sudan</option>
                        <option value="202">Spain</option>
                        <option value="203">Sri Lanka</option>
                        <option value="204">Sudan</option>
                        <option value="205">Suriname</option>
                        <option value="206">Svalbard and Jan Mayen</option>
                        <option value="207">Swaziland</option>
                        <option value="208">Sweden</option>
                        <option value="209">Switzerland</option>
                        <option value="210">Syria</option>
                        <option value="211">Taiwan</option>
                        <option value="212">Tajikistan</option>
                        <option value="213">Tanzania</option>
                        <option value="214">Thailand</option>
                        <option value="215">Togo</option>
                        <option value="216">Tokelau</option>
                        <option value="217">Tonga</option>
                        <option value="218">Trinidad and Tobago</option>
                        <option value="219">Tunisia</option>
                        <option value="220">Turkey</option>
                        <option value="221">Turkmenistan</option>
                        <option value="222">Turks and Caicos Islands</option>
                        <option value="223">Tuvalu</option>
                        <option value="224">U.S. Virgin Islands</option>
                        <option value="225">Uganda</option>
                        <option value="226">Ukraine</option>
                        <option value="227">United Arab Emirates</option>
                        <option value="228">United Kingdom</option>
                        <option value="229">United States</option>
                        <option value="230">Uruguay</option>
                        <option value="231">Uzbekistan</option>
                        <option value="232">Vanuatu</option>
                        <option value="233">Vatican</option>
                        <option value="234">Venezuela</option>
                        <option value="235">Vietnam</option>
                        <option value="236">Wallis and Futuna</option>
                        <option value="237">Western Sahara</option>
                        <option value="238">Yemen</option>
                        <option value="239">Zambia</option>
                        <option value="240">Zimbabwe</option>

                    </select>
                </div>
            </div>
            <div class=" mb-3 row">
                <label class=" control-label col-md-12">Contact Number</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input" id="txtContactNumber" placeholder="Enter Contact Number"
                           asp-for="ContactNumber" required>
                </div>
            </div>
            <div class=" mb-3 row">
                <label class=" control-label col-md-12">Physical Address</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input" placeholder="Enter Physical Address"
                           asp-for="PhysicalAddress" required>
                </div>
            </div>
            <div class=" mb-3 row">
                <label class=" control-label col-md-12">Postal Address</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input" placeholder="Enter Postal Address"
                           asp-for="PostalAddress" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="control-label col-md-12">City</label>
                <div class="col-md-12">
                    <input type="text" class="form-control input" placeholder="Enter City"
                           asp-for="City" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="control-label col-md-12">Fueling Partner</label>
                <div class="col-md-12">
                    <select class="form-control input" name="FC"
                            asp-items="@(new SelectList(fuelCompanyProviders, "ServiceProviderId", "ServiceProviderName") )" required></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3 text-left">
                <button class="btn btn-secondary w-md waves-effect waves-light" type="button" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
            </div>
            <div class=" col-md-6 mb-3 text-right">
                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
            </div>

        </div>
    </div>

</form>
<p>Not what you're looking for?<a asp-controller="Customer" asp-action="Create" class="text-primary text-lg-center"> Register as a Customer</a> </p>
@section scripts{
    <script>
        $(document).ready(function () {
            const countryCodes = ["+265", "+93", "+355", "+213", "+1-684", "+376", "+244", "+1-264", "+672", "+1-268", "+54", "+374", "+297", "+61", "+43", "+994", "+1-242", "+973", "+880", "+1-246", "+375", "+32", "+501", "+229", "+1-441", "+975", "+591", "+387", "+267", "+55", "+246", "+1-284", "+673", "+359", "+226", "+257", "+855", "+237", "+1", "+238", "+1-345", "+236", "+235", "+56", "+86", "+61", "+61", "+57", "+269", "+682", "+506", "+385", "+53", "+599", "+357", "+420", "+243", "+45", "+253", "+1-767", "+1-809, 1-829, 1-849", "+670", "+593", "+20", "+503", "+240", "+291", "+372", "+251", "+500", "+298", "+679", "+358", "+33", "+689", "+241", "+220", "+995", "+49", "+233", "+350", "+30", "+299", "+1-473", "+1-671", "+502", "+44-1481", "+224", "+245", "+592", "+509", "+504", "+852", "+36", "+354", "+91", "+62", "+98", "+964", "+353", "+44-1624", "+972", "+39", "+225", "+1-876", "+81", "+44-1534", "+962", "+7", "+254", "+686", "+383", "+965", "+996", "+856", "+371", "+961", "+266", "+231", "+218", "+423", "+370", "+352", "+853", "+389", "+261", "+60", "+960", "+223", "+356", "+692", "+222", "+230", "+262", "+52", "+691", "+373", "+377", "+976", "+382", "+1-664", "+212", "+258", "+95", "+264", "+674", "+977", "+31", "+599", "+687", "+64", "+505", "+227", "+234", "+683", "+850", "+1-670", "+47", "+968", "+92", "+680", "+970", "+507", "+675", "+595", "+51", "+63", "+64", "+48", "+351", "+1-787, 1-939", "+974", "+242", "+262", "+40", "+7", "+250", "+590", "+290", "+1-869", "+1-758", "+590", "+508", "+1-784", "+685", "+378", "+239", "+966", "+221", "+381", "+248", "+232", "+65", "+1-721", "+421", "+386", "+677", "+252", "+27", "+82", "+211", "+34", "+94", "+249", "+597", "+47", "+268", "+46", "+41", "+963", "+886", "+992", "+255", "+66", "+228", "+690", "+676", "+1-868", "+216", "+90", "+993", "+1-649", "+688", "+1-340", "+256", "+380", "+971", "+44", "+1", "+598", "+998", "+678", "+379", "+58", "+84", "+681", "+212", "+967", "+260", "+263"];

            $("#ddlCountry").on("change", function () {
                for (var i = 0; i < countryCodes.length; i++) {
                    if ($("#ddlCountry option:selected").val() == (i + 1)) {
                        $("#txtContactNumber").val(countryCodes[i]);
                    }
                }
            });
        })
    </script>
}