﻿@{
    ViewData["Title"] = "Truck Owner Details";
    ViewData["MainURLStub"] = "Details";
    ViewData["ShowPageButtons"] = false;
}
@model Wezit.DataModels.DTO.TruckOwnerDTO

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">@ViewData["Title"]</h4>
                @{ Html.RenderPartial("../Shared/_MessageOutput"); }

                @{ await Html.RenderPartialAsync("_DataView"); }

            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
