﻿@model Wezit.DataModels.DTO.TrucksSubscribedDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Truck Registration Number</label>
    </div>
    <div class="col-md-10 txt-dark">

        @Html.DisplayFor(model => model.Truck.RegistrationNumber)

    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Company Name</label>
    </div>
    <div class="col-md-10 txt-dark">
        @if (Model.Approved)
        {
            <span>Approved</span>
        }
        else
        {
            <span>Not Approved</span>
        }
    </div>
</div>
