﻿@model Wezit.DataModels.DTO.TrucksSubscribedDTO
@using System.Security.Claims
<div class="form-group mb-3  row">
    <label class="bold-text-600 col-md-3 control-label">Truck </label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-arrow-down"></i></span>
            <select class="form-control input" asp-for="TruckId" id="ddlTruckId" required></select>
        </div>
    </div>

</div>
<div class="form-group mb-3  row">
    @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "1")
    {
        <label class="bold-text-600 col-md-3 control-label">Status </label>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-arrow-down"></i></span>
                <select class="form-control input" asp-for="Approved" id="ddlTruckId" required>
                    <option value="true">Approve</option>
                    <option value="false">Reject</option>
                </select>
            </div>
        </div>
    }
</div>