﻿@{
    ViewData["Title"] = "Add Truck To Subscription";
    ViewData["MainURLStub"] = "TrucksSubscribed";
    ViewData["ShowPageButtons"] = false;
}
@model Wezit.DataModels.DTO.TrucksSubscribedDTO

<div class="row">
    <div class="col-12">
        <div class="card">
            <form asp-action="Create" class="form-horizontal">
                <input type="hidden" asp-for="TruckSubscriptionId" />
                <div class="card-header card-header-custom">
                    <h4 class="mt-2 card-title">@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    @{ Html.RenderPartial("../Shared/_MessageOutput"); }

                    @{ await Html.RenderPartialAsync("_DataEntry"); }

                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-save"></i><span class="with-icon">Save</span>
                            </button>
                            <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("Index", ViewData["MainURLStub"])'">
                                <i class="fas fa-times"></i><span class="with-icon">Cancel</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
@section scripts{
    <script>
        $(document).ready(function () {
            
            $.get("/Truck/GetTrucks", function (data) {

            })
                .done(function (data) {
                    var output = '';
                    for (var i = 0; i < data.length; i++) {
                        output += '<option value="' + data[i].truckId + '">' + data[i].registrationNumber + '</option>';
                    }

                    $("#ddlTruckId").html(output);

                })
                .fail(function () {
                    alert("error");
                })
                .always(function () {

                });
        })
    </script>
}