﻿@model Wezit.WebUI.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row page-titles">
    <div class="col p-md-0">
        <h4>Overview</h4>
    </div>
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Register</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-xxl-12">
        <div class="form-input-content login-form">
            <div class="card">
                <div class="card-body">
                    <form class="mt-5 mb-5" method="post">
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="User name" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-center mb-4 mt-4">
                            <button type="submit" class="btn btn-danger">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>