﻿@model Wezit.WebUI.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title> WEZIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9 col-xl-7">
                    <div class="card overflow-hidden">
                        <div class="card-body pt-0">

                            <h3 class="text-center mt-5 mb-4">
                                <a href="index.html" class="d-block auth-logo">
                                    <img src="~/assets/images/logo-red.png" alt="" height="90" class="auth-logo-dark">
                                    <img src="~/assets/images/logo-red.png" alt="" height="90" class="auth-logo-light">
                                </a>
                            </h3>
                            <div class="alert alert-danger" id="error">
                                
                                
                            </div>

                            <div class="p-3" id="divCodeInput">
                                <h4 class="text-muted font-size-18 mb-1 text-center">A verification Code has been sent to the registered phone number.</h4>
                                <form class="form-horizontal mt-4" method="post">
                                    <input type="hidden" name="pn" id="txtPn" value="@ViewContext.RouteData.Values["pn"]" />
                                    <div class="mb-3 d-flex justify-content-center col-md-6">
                                        <label for="username">Verification Code</label>
                                        <input type="text" class="form-control font-size-20" name="code" id="txtCode" placeholder="Enter code">
                                    </div>
                                    <div class="mb-3 row mt-4 d-flex justify-content-center">
                                        <div class="col-md-6 text-end ">
                                            <button class="btn btn-primary w-md waves-effect waves-light" id="btnVerify">Verify</button>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="p-3" id="divValidCode">
                                <h4 class="text-muted font-size-18 mb-1 text-center">Your accoount has been successfully been verified. </h4>
                                <p>click <a href="@Url.Action("Login","Account")">here</a> to login</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">

                        <script>document.write(new Date().getFullYear())</script> WEZIT
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
</body>
</html>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#divValidCode").hide();
            $("#btnVerify").no("click", function (e) {
                divValidCode
                e, preventDefault();
                $.post("@Url.Action("VerifyCode", "Account")", { pn: $("#txtPn").val(), code: $("#txtCode").val() }, function () {
                })
                    .done(function (response) {
                        if (!response.hasErrorOccured) {
                            $("#divValidCode").fadeIn("slow");
                        } else {
                            $("#error").html('<a href="#" class="close" data-dismiss="alert">&times;</a><p>'+response.message+'</p>');
                        }
                    })
                    .fail(function () {
                        $("#error").html('<a href="#" class="close" data-dismiss="alert">&times;</a><p>An error occured.</p>');
                    })
                    .always(function () {
                        
                    });
            });
        })
    </script>
}