﻿@{
    ViewData["Title"] = "Dashboard";
    ViewData["ShowPageButtons"] = false;
}
<div class="row">
    <div class="col-xl-3 col-sm-6">
        <div class="card mini-stat bg-primary">
            <div class="card-body mini-stat-img">
                <div class="mini-stat-icon">
                    <i class="mdi mdi-cube-outline float-end"></i>
                </div>
                <div class="text-white">
                    <h6 class="text-uppercase mb-3 font-size-16 text-white">Orders</h6>
                    <h2 class="mb-4 text-white">1,587</h2>
                    <span class="badge bg-info"> +11% </span> <span class="ms-2">From previous period</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card mini-stat bg-primary">
            <div class="card-body mini-stat-img">
                <div class="mini-stat-icon">
                    <i class="mdi mdi-buffer float-end"></i>
                </div>
                <div class="text-white">
                    <h6 class="text-uppercase mb-3 font-size-16 text-white">Revenue</h6>
                    <h2 class="mb-4 text-white">$46,782</h2>
                    <span class="badge bg-danger"> -29% </span> <span class="ms-2">From previous period</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card mini-stat bg-primary">
            <div class="card-body mini-stat-img">
                <div class="mini-stat-icon">
                    <i class="mdi mdi-tag-text-outline float-end"></i>
                </div>
                <div class="text-white">
                    <h6 class="text-uppercase mb-3 font-size-16 text-white">Average Price Per KG</h6>
                    <h2 class="mb-4 text-white">$15.9</h2>
                    <span class="badge bg-warning"> 0% </span> <span class="ms-2">From previous period</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card mini-stat bg-primary">
            <div class="card-body mini-stat-img">
                <div class="mini-stat-icon">
                    <i class="mdi mdi-briefcase-check float-end"></i>
                </div>
                <div class="text-white">
                    <h6 class="text-uppercase mb-3 font-size-16 text-white">Sucessful Delivery</h6>
                    <h2 class="mb-4 text-white">1890</h2>
                    <span class="badge bg-info"> +89% </span> <span class="ms-2">From previous period</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Overall Summary</h4>

                <div class="row text-center mt-4">
                    <div class="col-4">
                        <h5 class="font-size-20">$ 89425</h5>
                        <p class="text-muted">Total</p>
                    </div>
                    <div class="col-4">
                        <h5 class="font-size-20">$ 56210</h5>
                        <p class="text-muted">Local</p>
                    </div>
                    <div class="col-4">
                        <h5 class="font-size-20">$ 8974</h5>
                        <p class="text-muted">International</p>
                    </div>
                </div>

                <div id="morris-area-example" class="morris-charts morris-charts-height" dir="ltr"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Monthly Earnings</h4>

                <div class="row text-center mt-4">
                    <div class="col-6">
                        <h5 class="font-size-20">$ 2548</h5>
                        <p class="text-muted">Local</p>
                    </div>
                    <div class="col-6">
                        <h5 class="font-size-20">$ 6985</h5>
                        <p class="text-muted">Intenaltional</p>
                    </div>
                </div>

                <div id="morris-bar-stacked" class="morris-charts morris-charts-height" dir="ltr"></div>
            </div>
        </div>
    </div>

</div>
<!-- end row -->
@section scripts{

    <!--Morris Chart-->
    <script src="~/assets/libs/morris.js/morris.min.js"></script>
    <script src="~/assets/libs/raphael/raphael.min.js"></script>

    <script src="~/assets/js/pages/dashboard.init.js"></script>
}