﻿@model Wezit.DataModels.DTO.BandSubscriptionDTO


<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Band Name</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Band Name"
                   asp-for="BandName" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Band Cap</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="number" class="form-control input" placeholder="Enter Band Cap"
                   asp-for="BandCap" required>
        </div>
    </div>
</div>
<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Band Price</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="number" class="form-control input" placeholder="Enter Band Cap"
                   asp-for="Cost" required>
        </div>
    </div>
</div>