﻿@model Wezit.DataModels.DTO.BandSubscriptionDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Band Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.BandName)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Band Cap</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.BandCap)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Band Price</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.Cost)
    </div>
</div>