﻿@using System.Security.Claims
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Wezit Trucking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Wezit" name="description" />
    <meta content="Wezit" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Sweet Alert-->
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    @await RenderSectionAsync("PageCss", required: false)
    <!-- App Css-->
    <link href="~/assets/css/app.css" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Custom Css-->
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />

</head>


<body data-sidebar="colored">

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">

                        <a href="index.html" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="~/assets/images/logo-light.png" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="~/assets/images/logo-light.png" alt="" style="max-height:60px">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value != "3")
                    {
                        <div class="d-none d-sm-block">
                            <div class="dropdown dropdown-topbar pt-3 mt-1 d-inline-block">
                                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Quick Links <i class="mdi mdi-chevron-down"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Truck" asp-action="Index">Create Truck</a>

                                    <a class="dropdown-item" asp-controller="TrucksSubscribed" asp-action="Index">Subscribe Truck</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="d-flex">



                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <i style="font-size: 30px;" class="ion ion-md-contact"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline font-size-17 text-muted align-middle me-1"></i> Lock screen</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" asp-action="Logout" asp-controller="Account"><i class="mdi mdi-power font-size-17 text-muted align-middle me-1 text-danger"></i> Logout</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Main</li>

                        <li>
                            <a asp-action="Dashboard" asp-controller="Home" class="waves-effect">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "1")
                        {
                            <li>
                                <a href="~/Customer" class="waves-effect">
                                    <i class="mdi mdi-group"></i>
                                    <span>Customers </span>
                                </a>
                            </li>

                            <li>
                                <a href="~/TruckOwner" class="waves-effect">
                                    <i class="mdi mdi-book-account-outline"></i>
                                    <span>Transporters </span>
                                </a>
                            </li>
                            <li>
                                <a href="~/TruckCompanySubscription" class="waves-effect">
                                    <i class="mdi mdi-bank-transfer-in"></i>
                                    <span>Subscriptions</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/BandSubscription" class="waves-effect">
                                    <i class="mdi mdi-table-refresh"></i>
                                    <span>Subscription Management</span>
                                </a>
                            </li>
                        }
                        @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value != "3")
                        {
                            <li>
                                <a href="~/Truck" class="waves-effect">
                                    <i class="mdi mdi-truck"></i>
                                    @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "2")
                                    {
                                        <span> My Trucks </span>
                                    }
                                    else if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "1")
                                    {
                                        <span> Trucks </span>
                                    }
                                </a>
                            </li>
                            <li>
                                <a href="~/TrucksSubscribed" class="waves-effect">
                                    <i class="mdi mdi-bank-transfer-in"></i>
                                    <span>Truck Subscriptions</span>
                                </a>
                            </li>
                        }
                        @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "2")
                        {
                            <li>
                                <a href="~/TruckCompanySubscription" class="waves-effect">
                                    <i class="mdi mdi-bank-transfer-in"></i>
                                    <span>Your Subscriptions</span>
                                </a>
                            </li>

                        }
                        <li>
                            <a asp-action="Index" asp-controller="TruckBooking" class="waves-effect">
                                <i class="mdi mdi-view-list"></i>
                                @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "2")
                                {
                                    <span> My Trips </span>
                                }
                                else if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "3")
                                {
                                    <span> My Bookings </span>
                                }
                                else
                                {
                                    <span> Bookings </span>
                                }

                            </a>
                        </li>
                        <li>
                            <a asp-action="ActiveBookings" asp-controller="TruckBooking" class="waves-effect">
                                <i class="mdi mdi-view-list"></i>
                                @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "2")
                                {
                                    <span> My Current Jobs </span>
                                }
                                else if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "3")
                                {
                                    <span> My Current Bookings </span>
                                }
                                else
                                {
                                    <span> Active Bookings </span>
                                }
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="ServiceProvider" class="waves-effect">
                                <i class="mdi mdi-view-list"></i>
                                <span> Service Providers </span>

                            </a>
                        </li>

                        @*<li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span>Trucks</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="#">Create</a></li>
                                    <li><a href="#">Listing</a></li>
                                </ul>
                            </li>*@

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="page-title-box">
                                <h4>@ViewData["Title"]</h4>
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                                </ol>
                            </div>
                        </div>
                        @if ((bool)ViewData["ShowPageButtons"])
                        {
                            <div class="col-md-6 text-right">
                                <div class="btn-group page-actions-group" role="group" aria-label="...">
                                    <button class="btn btn-danger waves-effect waves-light" type="button" onclick="location.href='@Url.Action("Create", ViewData["MainURLStub"])'">
                                        <i class="fa fa-plus"></i><span class="with-icon">Create  New</span>
                                    </button>
                                    <button class="btn btn-secondary waves-effect waves-light" onclick="location.href='@Url.Action("Index", ViewData["MainURLStub"])'">
                                        <i class="fa fa-refresh"></i><span class="with-icon">Refresh</span>
                                    </button>
                                </div>
                            </div>
                        }

                    </div>
                    <!-- end page title -->

                    @RenderBody()
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            ©
                            <script>document.write(new Date().getFullYear())</script> Wezit
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Sweet Alerts js -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="~/assets/js/pages/sweet-alerts.init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="~/assets/js/app.js"></script>
</body>
</html>
