﻿<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Register | WEZIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="WEZIT " name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-11 col-xl-10">
                    <div class="card overflow-hidden">
                        <div class="card-body pt-0">
                            <h3 class="text-center mt-5 mb-4">
                                <a asp-controller="Home" asp-action="Index" class="d-block auth-logo">
                                    <img src="~/assets/images/logo-red.png" alt="" height="90" class="auth-logo-dark">
                                    <img src="~/assets/images/logo-red.png" alt="" height="90" class="auth-logo-light">
                                </a>
                            </h3>
                            <div class="p-3">
                                <h4 class="text-muted font-size-18 mb-4 text-center">Register</h4>

                                @RenderBody()

                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>Already have an account ? <a asp-controller="Account" asp-action="Login" class="text-primary"> Login </a> </p>
                        ©
                        <script>document.write(new Date().getFullYear())</script> WEZIT
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
</body>

</html>
