﻿@model Wezit.WebUI.Models.TruckBookingLocationViewModel


<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Customer</label>
    </div>
    <div class="col-md-10 txt-dark">
        @if (Model.Customer != null)
        {
            @Html.DisplayFor(model => model.Customer.Firstname)
        }
        else
        {
            @Html.DisplayFor(model => model.CustomerId)
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Truck</label>
    </div>
    <div class="col-md-10 txt-dark">
        @if (Model.Truck != null)
        {
            @Html.DisplayFor(model => model.Truck.RegistrationNumber)
        }
        else
        {
            @Html.DisplayFor(model => model.TruckId)
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Load Description</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.LoadDescription)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Load Capacity</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.LoadCapacity)
    </div>
</div>
<!--The div element for the map -->
<div id="map"></div>

