﻿@model Wezit.WebUI.Models.TruckBookingRequestViewModel
@{
    var insuranceProviders = Model.ServiceProviders.Where(x => x.ServiceProviderTypeCode.Equals("INS")).ToList();
    var fumigationProviders = Model.ServiceProviders.Where(x => x.ServiceProviderTypeCode.Equals("FUM")).ToList();
    var clearingProviders = Model.ServiceProviders.Where(x => x.ServiceProviderTypeCode.Equals("CLR")).ToList();
}
<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Load Capacity</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="number" class="form-control input" placeholder="Enter The Load Capacity"
                   asp-for="LoadCapacity" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Load Type</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <select class="form-control input" id="ddlTruckTypeId"
                    asp-for="TruckTypeId"></select>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Load Type</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <select class="form-control input" id="ddlLoadTypeId"
                    asp-for="LoadTypeId"></select>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Source of Transport</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter The Source"
                   asp-for="Source" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Destination of Transport</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter The Destination"
                   asp-for="Destination" required>
        </div>
    </div>
</div>

<div class="mb-3 row">
    <label class="control-label col-md-12">Insurance Partner</label>
    <div class="col-md-12">
        <select class="form-control input" name="INS"
                asp-items="@(new SelectList(insuranceProviders, "ServiceProviderId", "ServiceProviderName") )" required></select>
    </div>
</div>
<div class="mb-3 row">
    <label class="control-label col-md-12">Fumigation Partner</label>
    <div class="col-md-12">
        <select class="form-control input" name="FUM"
                asp-items="@(new SelectList(fumigationProviders, "ServiceProviderId", "ServiceProviderName") )" required></select>
    </div>
</div>
<div class="mb-3 row">
    <label class="control-label col-md-12">Clearing Partner</label>
    <div class="col-md-12">
        <select class="form-control input" name="CLR"
                asp-items="@(new SelectList(clearingProviders, "ServiceProviderId", "ServiceProviderName") )" required></select>
    </div>
</div>