﻿@{
    ViewData["Title"] = "Truck Booking Details";
    ViewData["MainURLStub"] = "TruckBooking";
    ViewData["ShowPageButtons"] = false;
}
@model Wezit.WebUI.Models.TruckBookingLocationViewModel

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">@ViewData["Title"]</h4>
                @{ Html.RenderPartial("../Shared/_MessageOutput"); }

                @{ await Html.RenderPartialAsync("_DataView"); }

            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
@section scripts{
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr6iMZtqFyE3CAX6UhX0BPCg7ECGJbR7Y&callback=initMap&libraries=&v=weekly"
            async></script>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of truck
            console.log(parseFloat('@Model.TruckLocationResponse.Lat'));
            console.log(parseFloat('@Model.TruckLocationResponse.Lng'));
            const truckLocation = {
                lat: parseFloat('@Model.TruckLocationResponse.Lat'), lng: parseFloat('@Model.TruckLocationResponse.Lng') };
            // The map, centered at truck
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: truckLocation,
            });
            // The marker, positioned at truck
            const marker = new google.maps.Marker({
                position: truckLocation,
                icon: '/assets/images/truck_marker.png',
                title: '@Model.Truck.RegistrationNumber',
                map: map,
            });
        }

    </script>
}