﻿@{
    ViewData["Title"] = "Edit Truck Bookings";
    ViewData["MainURLStub"] = "TruckBooking";
    ViewData["ShowPageButtons"] = false;
}
@model Wezit.DataModels.ViewModels.TruckBookingViewModel

<div class="row">
    <div class="col-12">
        <div class="card">
            <form asp-action="Edit" asp-route-truckBookingId="@Model.TruckBooking.TruckBookingId" class="form-horizontal">

                <div class="card-header card-header-custom">
                    <h4 class="mt-2 card-title">@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    @{ Html.RenderPartial("../Shared/_MessageOutput"); }

                    <div class="form-group mb-3 row">
                        <label class="bold-text-600 col-md-3 control-label">Load Type</label>

                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-pen"></i></span>
                                <select class="form-control input" id="ddlTruckId"
                                        asp-for="TruckBooking.TruckId" asp-items="@(new SelectList(Model.Trucks, "TruckId", "RegistrationNumber") )"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3 row" id="divMotorClinicProvider">
                        <label class="bold-text-600 col-md-3 control-label">Motor Clinic Service Provider</label>

                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-pen"></i></span>
                                <select class="form-control input" id="ddlMotorClinicProviderId" asp-for="TruckBooking.MotorClinicProviderServiceId" asp-items="@(new SelectList(Model.TruckBooking.MotorClinic, "ServiceProviderId", "ServiceProviderName") )"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="bold-text-600 col-md-3 control-label">Event Stage</label>

                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-pen"></i></span>
                                <select class="form-control input" id="ddlEventStageId"
                                        name="eventStageId" asp-items="@(new SelectList(Model.EventStages, "StageId", "Description") )"></select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-save"></i><span class="with-icon">Save</span>
                            </button>
                            <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action(" Index", ViewData["MainURLStub"])">
                                <i class="fas fa-times"></i><span class="with-icon">Cancel</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
@section scripts{
    <script>
        $(document).ready(function () {
            $("#divMotorClinicProvider").hide();

            $("#ddlTruckId option[value=" + '@Model.TruckBooking.TruckId' + "]").attr('selected', 'selected');

             $("#ddlEventStageId").on("change", function () {
                 if ($("#ddlEventStageId option:selected").val() === 11) {
                     $("#divMotorClinicProvider").show();

                      $.get("/ServiceProviders/GetCloseMotorServiceClinic", function (data) {

                        })
                          .done(function (data) {

                                if (data.error) {
                                    alert("error");
                                } else {
                                    $("#ddlMotorClinicProviderId option[value=" + data.result + "]").attr('selected', 'selected');
                                }
                                
                            })
                            .fail(function () {
                                alert("error");
                            })
                            .always(function () {

                            });

                 } else {
                     $("#divMotorClinicProvider").hide();
                }
             });

        });
    </script>
}