﻿@{
    ViewData["Title"] = "Truck Bookings";
    ViewData["MainURLStub"] = "TruckBooking";
    var statusColumnName = "Delivery";
    @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "3")
    {
        ViewData["ShowPageButtons"] = true;
        statusColumnName = "Delivery";
    }
    else
    {
        ViewData["ShowPageButtons"] = false;
        statusColumnName = "Task Status";
    }
}

@using System.Security.Claims;
@model IEnumerable<Wezit.DataModels.DTO.TruckBookingDTO>
@section PageCss{

    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">@ViewData["Title"]</h4>

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            
                            <th>Truck Reg No.</th>
                            <th>Load Location</th>
                            <th>Destination</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>@statusColumnName</th>
                            @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "3")
                            {

                            }
                            else
                            {
                            <th></th>
                            }

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var truckBooking in Model)
                        {
                        <tr>
                            <td>@if (truckBooking.Truck != null) { @truckBooking.Truck.RegistrationNumber} else{ @truckBooking.TruckId }</td>
                            <td>@truckBooking.SourceLocation</td>
                            <td>@truckBooking.DestinationLocation</td>
                            <td>@truckBooking.LoadDescription</td>
                            <td>@truckBooking.LoadCapacity Tons</td>
                            @switch(truckBooking.TruckBookingEventLogs.OrderByDescending(x=>x.EventId).FirstOrDefault().EventStage.StageId)
                            {
                                case 8:
                            <td>
                                Yes
                            </td>
                            break;
                            case 10:
                            <td>
                                No
                            </td>
                            break;
                            default:
                            <td>
                                In Transit
                            </td>
                            break;
                            }


                            <td style="width: 70px; text-align: center;">
                                <a class="btn btn-outline-secondary btn-sm edit" asp-action="Details" asp-route-truckBookingId="@truckBooking.TruckBookingId">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                            @if (User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "3")
    {
    }
    else
    {
                            <td style="width: 70px; text-align: center;">
                                <a class="btn btn-outline-secondary btn-sm edit" asp-action="Edit" asp-route-truckBookingId="@truckBooking.TruckBookingId">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </td>
    }

                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->

@section Scripts{
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/js/pages/datatables.init.js"></script>
}