﻿@model Wezit.DataModels.ViewModels.ServiceProviderViewModel


<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Service Provider Name</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Name"
                   asp-for="ServiceProviderName" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Type</label>

    <div class="col-md-6">
        <div class="input-group">
            <select class="form-control input" asp-for="ServiceProviderTypeCode"
                    asp-items="@(new SelectList(Model.ServiceProviderTypes, "ProviderTypeCode", "ProviderTypeName") )" required></select>
        </div>
    </div>
</div>





