﻿@model Wezit.DataModels.ViewModels.ServiceProviderViewModel

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Serivce Provider Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.ServiceProviderName)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Type</label>
    </div>
    @switch (Model.ServiceProviderTypeCode)
    {
        case "CLR":
            <div class="col-md-10 txt-dark">
                Clearing
            </div>;
            break;
        case "FUM":
            <div class="col-md-10 txt-dark">
                Fumigation
            </div>;
            break;
        case "INS":
            <div class="col-md-10 txt-dark">
                Insurance
            </div>;
            break;
        case "MTC":
            <div class="col-md-10 txt-dark">
                Motor Clinic
            </div>;
            break;
        case "FC":
            <div class="col-md-10 txt-dark">
                Fuel Company
            </div>;
            break;
    }
        </div>

       