﻿@{
    ViewData["Title"] = "Service Provider Registration";
    ViewData["MainURLStub"] = "ServiceProvider";
    ViewData["ShowPageButtons"] = false;

}
@model Wezit.DataModels.ViewModels.ServiceProviderViewModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <form asp-action="Create" method="post" class="form-horizontal">

                <div class="card-header card-header-custom">
                    <h4 class="mt-2 card-title">@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <partial name="_MessageOutput" />

                    <partial name="_DataEntry" />

                </div>

                <div class="card-footer">
                    <div class="text-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-save"></i><span class="with-icon">Save</span>
                            </button>
                            <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("Index", ViewData["MainURLStub"])'">
                                <i class="fas fa-times"></i><span class="with-icon">Cancel</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
