﻿@model Wezit.DataModels.ViewModels.TruckViewModel
@using System.Security.Claims
<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Registration Number</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Registration Number"
                   asp-for="Truck.RegistrationNumber" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Capacity</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Capacity"
                   asp-for="Truck.Capacity" required>
        </div>
    </div>
</div>
@if (@User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "1")
{
    <div class="form-group mb-3  row">
        <label class="bold-text-600 col-md-3 control-label">Truck Company</label>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-arrow-down"></i></span>
                <select class="form-control input" asp-for="Truck.TruckCompanyId"
                        asp-items="@(new SelectList(Model.TruckOwners, "TruckCompanyId", "CompanyName") )" required></select>
            </div>
        </div>
    </div>
}
else if (@User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "2")
{
    <input type="hidden" class="form-control input"
           asp-for="Truck.TruckCompanyId" value="@User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.PrimarySid))?.Value" required>
}

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Device IMEI Number</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Current Location"
                   asp-for="Truck.TruckImeiNumber" required>
        </div>
    </div>
</div>





