﻿@model Wezit.WebUI.Models.TruckLocationViewModel

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Registration Number</label>
    </div>
    <div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.RegistrationNumber)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Capacity</label>
    </div>
    <div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.Capacity)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Company Name</label>
    </div>
    <div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.TruckCompany.CompanyName)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Device IMEI Number</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.TruckImeiNumber)
    </div>
</div>
<!--The div element for the map -->
<div id="map"></div>