﻿@{
    ViewData["Title"] = "Confirm Delete";
    ViewData["MainURLStub"] = "Truck";
    ViewData["ShowPageButtons"] = false;
}
@model Wezit.DataModels.DTO.TruckDTO

<div class="row">
    <div class="col-12">
        <div class="card">
            <form asp-action="Delete" asp-route-truckId="@Model.TruckId" class="form-horizontal">
                <div class="card-body">
                    <input type="hidden" asp-for="TruckId" />
                    <div class="panel-body">
                        @{ Html.RenderPartial("../Shared/_MessageOutput"); }

                        <div class="alert alert-warning">
                            <span class="fa fa-exclamation"></span>
                            <span class="bold-text-600">Alert: </span>Are you sure you want to confirm this record?
                        </div>

                        @{ await Html.RenderPartialAsync("_DataView"); }

                    </div>
                    <div class="card-footer panel-default">
                        <div class="text-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn btn-warning" type="submit">
                                    <i class="fa fa-trash"></i><span class="with-icon">Delete</span>
                                </button>
                                <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("Index", ViewData["MainURLStub"])'">
                                    <i class="fa fa-times"></i><span class="with-icon">Cancel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
