@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  background-color: #d95a6f;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12); }

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 calc(24px / 2) 0 0; }

.navbar-brand-box {
  padding: 0 1.5rem;
  text-align: center;
  width: 240px; }

.logo {
  line-height: 70px; }
  .logo .logo-sm {
    display: none; }

.logo-light {
  display: none; }

.dropdown-topbar .btn-light {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: rgba(255, 255, 255, 0.1) !important; }
  .dropdown-topbar .btn-light:focus {
    -webkit-box-shadow: 0 0 0 0.15rem rgba(216, 217, 219, 0.5) !important;
            box-shadow: 0 0 0 0.15rem rgba(216, 217, 219, 0.5) !important; }

.fullscreen-enable [data-toggle="fullscreen"] .mdi-fullscreen::before {
  content: "\F0294"; }

/* Search */
.app-search {
  padding: calc(32px / 2) 0; }
  .app-search .form-control {
    border: none;
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 30px; }
  .app-search span {
    position: absolute;
    z-index: 10;
    font-size: 13px;
    line-height: 38px;
    right: 16px;
    top: 0;
    color: #f6f6f6; }

.megamenu-list li {
  position: relative;
  padding: 5px 0px; }
  .megamenu-list li a {
    color: #dee2e6; }

@media (max-width: 992px) {
  .navbar-brand-box {
    width: auto; }
  .logo span.logo-lg {
    display: none; }
  .logo span.logo-sm {
    display: inline-block; } }

.page-content {
  padding: calc(70px + 24px) calc(24px / 2) 60px calc(24px / 2); }

.header-item {
  height: 70px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 0px; }
  .header-item:hover {
    color: rgba(255, 255, 255, 0.7); }

.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: #353c4c; }

.noti-icon i {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7); }

.noti-icon .badge {
  position: absolute;
  top: 12px;
  right: 4px; }

.notification-item .d-flex {
  padding: 0.75rem 1rem; }
  .notification-item .d-flex:hover {
    background-color: #30384b; }

.dropdown-icon-item {
  display: block;
  border-radius: 3px;
  line-height: 34px;
  text-align: center;
  padding: 15px 0 9px;
  display: block;
  border: 1px solid transparent;
  color: #bebfc3; }
  .dropdown-icon-item img {
    height: 24px; }
  .dropdown-icon-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dropdown-icon-item:hover {
    border-color: #363f55; }

body[data-topbar="dark"] #page-topbar {
  background-color: #2a3142; }

body[data-topbar="dark"] .navbar-header .dropdown.show .header-item {
  background-color: rgba(255, 255, 255, 0.05); }

body[data-topbar="dark"] .navbar-header .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

body[data-topbar="dark"] .header-item {
  color: #e9ecef; }
  body[data-topbar="dark"] .header-item:hover {
    color: #e9ecef; }

body[data-topbar="dark"] .header-profile-user {
  background-color: rgba(255, 255, 255, 0.25); }

body[data-topbar="dark"] .noti-icon i {
  color: #e9ecef; }

body[data-topbar="dark"] .logo-dark {
  display: none; }

body[data-topbar="dark"] .logo-light {
  display: block; }

body[data-topbar="dark"] .app-search .form-control {
  background-color: rgba(255, 255, 255, 0.07);
  color: #fff; }

body[data-topbar="dark"] .app-search span,
body[data-topbar="dark"] .app-search input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

body[data-sidebar="dark"] .navbar-brand-box {
  background: #2a3142; }

body[data-sidebar="dark"] .logo-dark {
  display: none; }

body[data-sidebar="dark"] .logo-light {
  display: block; }

@media (max-width: 575.98px) {
  .navbar-header .dropdown {
    position: static; }
    .navbar-header .dropdown .dropdown-menu {
      left: 10px !important;
      right: 10px !important; }
  .top-navigation {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #2a3142; } }

@media (max-width: 380px) {
  .navbar-brand-box {
    display: none !important; } }

body[data-layout="horizontal"] .navbar-header {
  padding: 0; }

body[data-layout="horizontal"] .navbar-brand-box {
  width: auto;
  display: inline-block; }

body[data-layout="horizontal"] .page-content {
  margin-top: 70px;
  padding: calc(180px + 24px) calc(24px / 2) 60px calc(24px / 2); }

@media (max-width: 992px) {
  body[data-layout="horizontal"] .page-content {
    padding: calc(98px + 24px) calc(24px / 2) 60px calc(24px / 2); } }

@media (min-width: 992px) {
  body[data-layout="horizontal"] .navbar-header {
    padding: 0 calc(24px / 2); }
  body[data-layout="horizontal"] .navbar-brand-box {
    padding-left: 0; } }

.page-title-box {
  padding-bottom: 24px; }
  .page-title-box .breadcrumb {
    background-color: transparent;
    padding: 0; }
  .page-title-box h4 {
    font-size: 18px !important; }

.state-information .state-graph {
  float: right;
  margin-left: 40px;
  text-align: center; }
  .state-information .state-graph .info {
    font-size: 12px;
    margin-top: 3px; }

body[data-layout="horizontal"] .top-navigation {
  padding: 0 calc(24px / 2) 0 calc(24px / 2); }

body[data-layout="horizontal"] .state-information .state-graph .info {
  color: #c0c0c0; }

body[data-layout="horizontal"] .page-title-content {
  padding: 20px 0; }
  body[data-layout="horizontal"] .page-title-content .page-title-box {
    padding-bottom: 0; }
    body[data-layout="horizontal"] .page-title-content .page-title-box .breadcrumb-item > a {
      color: #dee2e6; }
    body[data-layout="horizontal"] .page-title-content .page-title-box .breadcrumb-item + .breadcrumb-item::before {
      color: rgba(255, 255, 255, 0.5); }
    body[data-layout="horizontal"] .page-title-content .page-title-box .breadcrumb-item.active {
      color: #c0c0c0; }
  body[data-layout="horizontal"] .page-title-content h4 {
    color: #fff; }

.footer {
  background-color: #323a4e;
  bottom: 0;
  padding: 20px calc(24px / 2);
  position: absolute;
  text-align: center;
  right: 0;
  color: #dee2e6;
  left: 240px;
  height: 60px;
  -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05); }

@media (max-width: 992px) {
  .footer {
    left: 0; } }

.vertical-collpsed .footer {
  left: 70px; }

body[data-layout="horizontal"] .footer {
  left: 0 !important; }

.right-bar {
  background-color: #2a3142;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  display: block;
  position: fixed;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  width: 280px;
  z-index: 9999;
  float: right !important;
  right: -290px;
  top: 0;
  bottom: 0; }
  .right-bar .right-bar-toggle {
    background-color: white;
    height: 24px;
    width: 24px;
    line-height: 24px;
    color: #363f55;
    text-align: center;
    border-radius: 50%; }
    .right-bar .right-bar-toggle:hover {
      background-color: white; }

.rightbar-overlay {
  background-color: rgba(239, 242, 247, 0.55);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.right-bar-enabled .right-bar {
  right: 0; }

.right-bar-enabled .rightbar-overlay {
  display: block; }

@media (max-width: 767.98px) {
  .right-bar {
    overflow: auto; }
    .right-bar .slimscroll-menu {
      height: auto !important; } }

.metismenu {
  margin: 0; }
  .metismenu li {
    display: block;
    width: 100%; }
  .metismenu .mm-collapse {
    display: none; }
    .metismenu .mm-collapse:not(.mm-show) {
      display: none; }
    .metismenu .mm-collapse.mm-show {
      display: block; }
  .metismenu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .35s;
            transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility; }

.vertical-menu {
  width: 240px;
  z-index: 1001;
  background: #ffffff;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 70px;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12); }

.main-content {
  margin-left: 240px;
  overflow: hidden; }
  .main-content .content {
    padding: 0 15px 10px 15px;
    margin-top: 70px; }

#sidebar-menu {
  padding: 10px 0 30px 0; }
  #sidebar-menu .mm-active > .has-arrow:after {
    content: "\F0140"; }
  #sidebar-menu .has-arrow:after {
    content: "\F0142";
    font-family: 'Material Design Icons';
    display: block;
    float: right;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    font-size: 1rem; }
  #sidebar-menu ul li a {
    display: block;
    padding: 11PX 20PX;
    color: #79829c;
    position: relative;
    font-size: 13.3px;
    -webkit-transition: all .4s;
    transition: all .4s; }
    #sidebar-menu ul li a i {
      display: inline-block;
      min-width: 1.60rem;
      padding-bottom: .125em;
      font-size: 1rem;
      line-height: 1.40625rem;
      vertical-align: middle;
      color: #7f8387;
      -webkit-transition: all .4s;
      transition: all .4s; }
    #sidebar-menu ul li a:hover {
      color: #d95a6f; }
      #sidebar-menu ul li a:hover i {
        color: #d95a6f; }
  #sidebar-menu ul li .badge {
    margin-top: 5px; }
  #sidebar-menu ul li ul.sub-menu {
    padding: 0; }
    #sidebar-menu ul li ul.sub-menu li a {
      padding: .4rem 1.5rem .4rem 3.1rem;
      font-size: 13px;
      color: #79829c;
      background-color: transparent; }
    #sidebar-menu ul li ul.sub-menu li ul.sub-menu {
      padding: 0; }
      #sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
        padding: .4rem 1.5rem .4rem 4.5rem;
        font-size: 13.5px; }

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 10px;
  text-transform: uppercase;
  color: #7f8387;
  font-weight: 600; }

.mm-active {
  color: #d95a6f !important; }
  .mm-active > a {
    color: #d95a6f !important;
    background-color: #f9f8fb; }
    .mm-active > a i {
      color: #d95a6f !important; }
  .mm-active .active {
    color: #d95a6f !important; }
    .mm-active .active i {
      color: #d95a6f !important; }
  .mm-active > i {
    color: #d95a6f !important; }

@media (max-width: 992px) {
  .vertical-menu {
    display: none; }
  .main-content {
    margin-left: 0 !important; }
  body.sidebar-enable .vertical-menu {
    display: block; } }

.vertical-collpsed .main-content {
  margin-left: 70px; }

.vertical-collpsed .navbar-brand-box {
  width: 70px !important; }

.vertical-collpsed .logo span.logo-lg {
  display: none; }

.vertical-collpsed .logo span.logo-sm {
  display: block; }

.vertical-collpsed .vertical-menu {
  position: absolute;
  width: 70px !important;
  z-index: 5; }
  .vertical-collpsed .vertical-menu .simplebar-mask,
  .vertical-collpsed .vertical-menu .simplebar-content-wrapper {
    overflow: visible !important; }
  .vertical-collpsed .vertical-menu .simplebar-scrollbar {
    display: none !important; }
  .vertical-collpsed .vertical-menu .simplebar-offset {
    bottom: 0 !important; }
  .vertical-collpsed .vertical-menu #sidebar-menu .menu-title,
  .vertical-collpsed .vertical-menu #sidebar-menu .badge,
  .vertical-collpsed .vertical-menu #sidebar-menu .collapse.in {
    display: none !important; }
  .vertical-collpsed .vertical-menu #sidebar-menu .nav.collapse {
    height: inherit !important; }
  .vertical-collpsed .vertical-menu #sidebar-menu .has-arrow:after {
    display: none; }
  .vertical-collpsed .vertical-menu #sidebar-menu > ul > li {
    position: relative;
    white-space: nowrap; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a {
      padding: 15px 20px;
      min-height: 55px;
      -webkit-transition: none;
      transition: none; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:hover, .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:active, .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:focus {
        color: #d95a6f; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
        font-size: 1.45rem;
        margin-left: 4px; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a span {
        display: none;
        padding-left: 25px; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
      position: relative;
      width: calc(190px + 70px);
      color: #d95a6f;
      background-color: whitesmoke;
      -webkit-transition: none;
      transition: none; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
        color: #d95a6f; }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a span {
        display: inline; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul {
      display: block;
      left: 70px;
      position: absolute;
      width: 190px;
      height: auto !important;
      -webkit-box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
              box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1); }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul ul {
        -webkit-box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
                box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1); }
      .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 8px 20px;
        position: relative;
        width: 190px;
        z-index: 6;
        color: #79829c; }
        .vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
          color: #d95a6f; }
  .vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
    padding: 5px 0;
    z-index: 9999;
    display: none;
    background-color: #ffffff; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li:hover > ul {
      display: block;
      left: 190px;
      height: auto !important;
      margin-top: -36px;
      position: absolute;
      width: 190px; }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li > a span.pull-right {
      position: absolute;
      right: 20px;
      top: 12px;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    .vertical-collpsed .vertical-menu #sidebar-menu > ul ul li.active a {
      color: #30384b; }

body[data-sidebar="dark"] .vertical-menu {
  background: #2a3142; }

body[data-sidebar="dark"] #sidebar-menu ul li a {
  color: #8699ad; }
  body[data-sidebar="dark"] #sidebar-menu ul li a i {
    color: #8699ad; }
  body[data-sidebar="dark"] #sidebar-menu ul li a:hover {
    color: #ffffff; }
    body[data-sidebar="dark"] #sidebar-menu ul li a:hover i {
      color: #ffffff; }

body[data-sidebar="dark"] #sidebar-menu ul li ul.sub-menu li a {
  color: #8699ad;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }
  body[data-sidebar="dark"] #sidebar-menu ul li ul.sub-menu li a:hover {
    color: #ffffff; }

body[data-sidebar="dark"] #sidebar-menu ul > li > a.mm-active {
  background-color: #252b3a; }

body[data-sidebar="dark"].vertical-collpsed {
  min-height: 1200px; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
    background: #2e3648;
    color: #ffffff; }
    body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
      color: #ffffff; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
    color: #8699ad; }
    body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
      color: #ffffff; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
    background-color: #2a3142; }
  body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
    color: #ffffff !important; }
    body[data-sidebar="dark"].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active i {
      color: #ffffff !important; }

body[data-sidebar="dark"] .mm-active {
  color: #ffffff !important; }
  body[data-sidebar="dark"] .mm-active > a {
    color: #ffffff !important;
    background-color: #252b3a; }
    body[data-sidebar="dark"] .mm-active > a i {
      color: #ffffff !important; }
  body[data-sidebar="dark"] .mm-active > i {
    color: #ffffff !important; }
  body[data-sidebar="dark"] .mm-active .active {
    color: #ffffff !important;
    background-color: #252b3a; }
    body[data-sidebar="dark"] .mm-active .active i {
      color: #ffffff !important; }

body[data-sidebar="dark"] .menu-title {
  color: #8699ad; }

body[data-layout="horizontal"] .main-content {
  margin-left: 0 !important; }

body[data-sidebar-size="small"] .navbar-brand-box {
  width: 160px; }

body[data-sidebar-size="small"] .vertical-menu {
  width: 160px;
  text-align: center; }
  body[data-sidebar-size="small"] .vertical-menu .has-arrow:after,
  body[data-sidebar-size="small"] .vertical-menu .badge {
    display: none !important; }

body[data-sidebar-size="small"] .main-content {
  margin-left: 160px; }

body[data-sidebar-size="small"] .footer {
  left: 160px; }

body[data-sidebar-size="small"] #sidebar-menu ul li.menu-title {
  background-color: #2e3648; }

body[data-sidebar-size="small"] #sidebar-menu ul li a i {
  display: block; }

body[data-sidebar-size="small"] #sidebar-menu ul li ul.sub-menu li a {
  padding-left: 1.5rem; }

body[data-sidebar-size="small"] #sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
  padding-left: 1.5rem; }

body[data-sidebar-size="small"].vertical-collpsed .main-content {
  margin-left: 70px; }

body[data-sidebar-size="small"].vertical-collpsed .vertical-menu #sidebar-menu {
  text-align: left; }
  body[data-sidebar-size="small"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
    display: inline-block; }

body[data-sidebar-size="small"].vertical-collpsed .footer {
  left: 70px; }

body[data-sidebar="colored"] .vertical-menu {
  background-color: #d95a6f; }

body[data-sidebar="colored"] .navbar-brand-box {
  background-color: #d95a6f; }
  body[data-sidebar="colored"] .navbar-brand-box .logo-dark {
    display: none; }
  body[data-sidebar="colored"] .navbar-brand-box .logo-light {
    display: block; }

body[data-sidebar="colored"] .mm-active {
  color: #fff !important; }
  body[data-sidebar="colored"] .mm-active > a {
    color: #fff !important;
    background-color: #db6276; }
    body[data-sidebar="colored"] .mm-active > a i {
      color: #fff !important; }
  body[data-sidebar="colored"] .mm-active > i, body[data-sidebar="colored"] .mm-active .active {
    color: #fff !important; }

body[data-sidebar="colored"] #sidebar-menu ul li.menu-title {
  color: rgba(255, 255, 255, 0.6); }

body[data-sidebar="colored"] #sidebar-menu ul li a {
  color: rgba(255, 255, 255, 0.6); }
  body[data-sidebar="colored"] #sidebar-menu ul li a i {
    color: rgba(255, 255, 255, 0.6); }
  body[data-sidebar="colored"] #sidebar-menu ul li a.waves-effect .waves-ripple {
    background: rgba(255, 255, 255, 0.1); }
  body[data-sidebar="colored"] #sidebar-menu ul li a:hover {
    color: #fff; }
    body[data-sidebar="colored"] #sidebar-menu ul li a:hover i {
      color: #fff; }

body[data-sidebar="colored"] #sidebar-menu ul li ul.sub-menu li a {
  color: rgba(255, 255, 255, 0.5); }
  body[data-sidebar="colored"] #sidebar-menu ul li ul.sub-menu li a:hover {
    color: #fff; }

body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  background-color: #db6276;
  color: #fff; }
  body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
    color: #fff; }

body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
  color: #d95a6f !important; }

body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu ul li ul.sub-menu li a:hover {
  color: #d95a6f; }

body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu ul li ul.sub-menu li.mm-active {
  color: #d95a6f !important; }
  body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu ul li ul.sub-menu li.mm-active > a {
    color: #d95a6f !important; }
    body[data-sidebar="colored"].vertical-collpsed .vertical-menu #sidebar-menu ul li ul.sub-menu li.mm-active > a i {
      color: #d95a6f !important; }

[dir="rtl"]
#sidebar-menu .has-arrow:after {
  content: "\F0141"; }

[dir="rtl"]
#sidebar-menu .mm-active > .has-arrow:after {
  content: "\F0140"; }

.topnav {
  background: #323a4e;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  z-index: 100;
  margin-bottom: -40px;
  border-radius: 3px; }
  .topnav .topnav-menu {
    margin: 0;
    padding: 0; }
  .topnav .navbar-nav .nav-link {
    font-size: 14px;
    position: relative;
    padding: 1.2rem 1.5rem;
    color: #79829c; }
    .topnav .navbar-nav .nav-link i {
      display: block;
      font-size: 16px;
      margin-bottom: 8px;
      text-align: center; }
    .topnav .navbar-nav .nav-link:focus, .topnav .navbar-nav .nav-link:hover {
      color: #d95a6f;
      background-color: transparent; }
  .topnav .navbar-nav .dropdown-item {
    color: #79829c; }
    .topnav .navbar-nav .dropdown-item.active, .topnav .navbar-nav .dropdown-item:hover {
      color: #d95a6f;
      background: transparent; }
  .topnav .navbar-nav .nav-item .nav-link.active {
    color: #d95a6f; }
  .topnav .navbar-nav .dropdown.active > a {
    color: #d95a6f;
    background-color: transparent; }

body[data-layout="horizontal"] #page-topbar {
  background-color: #2a3142; }

body[data-layout="horizontal"] .navbar-header {
  background-color: #d95a6f; }

@media (min-width: 1200px) {
  body[data-layout="horizontal"] .container-fluid {
    max-width: 90%; } }

@media (min-width: 992px) {
  .topnav .dropdown-item {
    padding: .5rem 1.5rem;
    min-width: 180px; }
  .topnav .dropdown.mega-dropdown .mega-dropdown-menu {
    left: 0px;
    right: auto; }
  .topnav .dropdown .dropdown-menu {
    margin-top: 0;
    border-radius: 0 0 0.25rem 0.25rem; }
    .topnav .dropdown .dropdown-menu .arrow-down::after {
      right: 15px;
      -webkit-transform: rotate(-135deg) translateY(-50%);
              transform: rotate(-135deg) translateY(-50%);
      position: absolute; }
    .topnav .dropdown .dropdown-menu .dropdown .dropdown-menu {
      position: absolute;
      top: 0 !important;
      left: 100%;
      display: none; }
  .topnav .dropdown:hover > .dropdown-menu {
    display: block; }
  .topnav .dropdown:hover > .dropdown-menu > .dropdown:hover > .dropdown-menu {
    display: block; }
  .navbar-toggle {
    display: none; } }

.arrow-down {
  display: inline-block; }
  .arrow-down:after {
    border-color: initial;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    height: .4em;
    display: inline-block;
    right: 5px;
    top: 50%;
    margin-left: 10px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: .4em; }

@media (max-width: 1199.98px) {
  .topnav-menu .navbar-nav li:last-of-type .dropdown .dropdown-menu {
    right: 100%;
    left: auto; } }

@media (max-width: 991.98px) {
  .topnav {
    max-height: 360px;
    overflow-y: auto;
    padding: 0;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 70px; }
    .topnav .navbar-nav .nav-link {
      padding: 0.75rem 1.1rem; }
      .topnav .navbar-nav .nav-link i {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;
        vertical-align: inherit; }
    .topnav .dropdown .dropdown-menu {
      background-color: transparent;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding-left: 15px; }
      .topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl, .topnav .dropdown .dropdown-menu.dropdown-mega-menu-lg {
        width: auto; }
        .topnav .dropdown .dropdown-menu.dropdown-mega-menu-xl .row, .topnav .dropdown .dropdown-menu.dropdown-mega-menu-lg .row {
          margin: 0px; }
    .topnav .dropdown .dropdown-item {
      position: relative;
      background-color: transparent; }
      .topnav .dropdown .dropdown-item.active, .topnav .dropdown .dropdown-item:active {
        color: #d95a6f; }
    .topnav .arrow-down::after {
      right: 15px;
      position: absolute; } }

body[data-layout="horizontal"][data-topbar="colored"] #page-topbar {
  background-color: #d95a6f;
  -webkit-box-shadow: none;
          box-shadow: none; }

body[data-layout="horizontal"][data-topbar="colored"] .logo-dark {
  display: none; }

body[data-layout="horizontal"][data-topbar="colored"] .logo-light {
  display: block; }

body[data-layout="horizontal"][data-topbar="colored"] .app-search .form-control {
  background-color: rgba(255, 255, 255, 0.07);
  color: #fff; }

body[data-layout="horizontal"][data-topbar="colored"] .app-search span,
body[data-layout="horizontal"][data-topbar="colored"] .app-search input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

body[data-layout="horizontal"][data-topbar="colored"] .header-item {
  color: #e9ecef; }
  body[data-layout="horizontal"][data-topbar="colored"] .header-item:hover {
    color: #e9ecef; }

body[data-layout="horizontal"][data-topbar="colored"] .navbar-header .dropdown.show .header-item {
  background-color: rgba(255, 255, 255, 0.1); }

body[data-layout="horizontal"][data-topbar="colored"] .navbar-header .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

body[data-layout="horizontal"][data-topbar="colored"] .noti-icon i {
  color: #e9ecef; }

@media (min-width: 992px) {
  body[data-layout="horizontal"][data-topbar="colored"] .topnav {
    background-color: #d95a6f; }
    body[data-layout="horizontal"][data-topbar="colored"] .topnav .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 0.5); }
      body[data-layout="horizontal"][data-topbar="colored"] .topnav .navbar-nav .nav-link:focus, body[data-layout="horizontal"][data-topbar="colored"] .topnav .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 0.9); }
    body[data-layout="horizontal"][data-topbar="colored"] .topnav .navbar-nav > .dropdown.active > a {
      color: rgba(255, 255, 255, 0.9) !important; } }

body[data-layout="horizontal"][data-topbar="light"] .logo-light {
  display: block; }

body[data-layout="horizontal"][data-topbar="light"] .logo-dark {
  display: none; }

body[data-layout="horizontal"][data-topbar="dark"] .navbar-header {
  background-color: #2e3648; }

body[data-layout-size="boxed"] {
  background-color: #353e53; }
  body[data-layout-size="boxed"] #layout-wrapper {
    background-color: #1f2431;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
            box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12); }
  body[data-layout-size="boxed"] #page-topbar {
    max-width: 1300px;
    margin: 0 auto; }
  body[data-layout-size="boxed"] .footer {
    margin: 0 auto;
    max-width: calc(1300px - 240px); }
  body[data-layout-size="boxed"].vertical-collpsed .footer {
    max-width: calc(1300px - 70px); }

body[data-layout="horizontal"][data-layout-size="boxed"] #page-topbar, body[data-layout="horizontal"][data-layout-size="boxed"] #layout-wrapper, body[data-layout="horizontal"][data-layout-size="boxed"] .footer {
  max-width: 100%; }

body[data-layout="horizontal"][data-layout-size="boxed"] .container-fluid {
  max-width: 1300px; }

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2); }

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }

.waves-input-wrapper.waves-button {
  padding: 0; }

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms; }

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.4); }

.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(217, 90, 111, 0.4); }

.waves-effect.waves-success .waves-ripple {
  background-color: rgba(88, 219, 131, 0.4); }

.waves-effect.waves-info .waves-ripple {
  background-color: rgba(13, 202, 240, 0.4); }

.waves-effect.waves-warning .waves-ripple {
  background-color: rgba(245, 178, 37, 0.4); }

.waves-effect.waves-danger .waves-ripple {
  background-color: rgba(122, 111, 190, 0.4); }

.avatar-xs {
  height: 2rem;
  width: 2rem; }

.avatar-sm {
  height: 3rem;
  width: 3rem; }

.avatar-md {
  height: 4.5rem;
  width: 4.5rem; }

.avatar-lg {
  height: 6rem;
  width: 6rem; }

.avatar-xl {
  height: 7.5rem;
  width: 7.5rem; }

.avatar-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: 2px solid; }

.alert-border {
  background-color: #2a3142;
  border-color: #30384b;
  border-top: 2px solid #30384b; }

.alert-border-primary {
  border-top-color: #d95a6f; }

.alert-outline-primary {
  border: 1px solid #faebee;
  color: #d95a6f; }

.alert-border-secondary {
  border-top-color: #bebfc3; }

.alert-outline-secondary {
  border: 1px solid white;
  color: #bebfc3; }

.alert-border-success {
  border-top-color: #58db83; }

.alert-outline-success {
  border: 1px solid #ebfbf0;
  color: #58db83; }

.alert-border-info {
  border-top-color: #0dcaf0; }

.alert-outline-info {
  border: 1px solid #b5effb;
  color: #0dcaf0; }

.alert-border-warning {
  border-top-color: #f5b225; }

.alert-outline-warning {
  border: 1px solid #fdeed0;
  color: #f5b225; }

.alert-border-orange {
  border-top-color: #f1734f; }

.alert-outline-orange {
  border: 1px solid #fef7f4;
  color: #f1734f; }

.alert-border-danger {
  border-top-color: #7a6fbe; }

.alert-outline-danger {
  border: 1px solid #eceaf6;
  color: #7a6fbe; }

.alert-border-pink {
  border-top-color: #e83e8c; }

.alert-outline-pink {
  border: 1px solid #fbddeb;
  color: #e83e8c; }

.alert-border-light {
  border-top-color: #30384b; }

.alert-outline-light {
  border: 1px solid #808dae;
  color: #30384b; }

.alert-border-dark {
  border-top-color: #eff2f7; }

.alert-outline-dark {
  border: 1px solid white;
  color: #eff2f7; }

.alert-border-purple {
  border-top-color: #6f42c1; }

.alert-outline-purple {
  border: 1px solid #d5c8ed;
  color: #6f42c1; }

.font-size-11 {
  font-size: 11px !important; }

.font-size-12 {
  font-size: 12px !important; }

.font-size-13 {
  font-size: 13px !important; }

.font-size-14 {
  font-size: 14px !important; }

.font-size-15 {
  font-size: 15px !important; }

.font-size-16 {
  font-size: 16px !important; }

.font-size-17 {
  font-size: 17px !important; }

.font-size-18 {
  font-size: 18px !important; }

.font-size-20 {
  font-size: 20px !important; }

.font-size-22 {
  font-size: 22px !important; }

.font-size-24 {
  font-size: 24px !important; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-semibold {
  font-weight: 600; }

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 2px);
  display: block;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  color: #c0c0c0;
  text-align: center; }

.social-links li a {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px; }

.w-xs {
  min-width: 80px; }

.w-sm {
  min-width: 95px; }

.w-md {
  min-width: 110px; }

.w-lg {
  min-width: 140px; }

.w-xl {
  min-width: 160px; }

.alert-dismissible .btn-close {
  font-size: 10px;
  padding: 1.05rem 1.25rem;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat; }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a3142;
  z-index: 9999; }

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px; }

.spinner-chase {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-animation: spinner-chase 2.5s infinite linear both;
          animation: spinner-chase 2.5s infinite linear both; }

.chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: chase-dot 2.0s infinite ease-in-out both;
          animation: chase-dot 2.0s infinite ease-in-out both; }
  .chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #d95a6f;
    border-radius: 100%;
    -webkit-animation: chase-dot-before 2.0s infinite ease-in-out both;
            animation: chase-dot-before 2.0s infinite ease-in-out both; }
  .chase-dot:nth-child(1) {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
    .chase-dot:nth-child(1):before {
      -webkit-animation-delay: -1.1s;
              animation-delay: -1.1s; }
  .chase-dot:nth-child(2) {
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s; }
    .chase-dot:nth-child(2):before {
      -webkit-animation-delay: -1.0s;
              animation-delay: -1.0s; }
  .chase-dot:nth-child(3) {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
    .chase-dot:nth-child(3):before {
      -webkit-animation-delay: -0.9s;
              animation-delay: -0.9s; }
  .chase-dot:nth-child(4) {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
    .chase-dot:nth-child(4):before {
      -webkit-animation-delay: -0.8s;
              animation-delay: -0.8s; }
  .chase-dot:nth-child(5) {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
    .chase-dot:nth-child(5):before {
      -webkit-animation-delay: -0.7s;
              animation-delay: -0.7s; }
  .chase-dot:nth-child(6) {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
    .chase-dot:nth-child(6):before {
      -webkit-animation-delay: -0.6s;
              animation-delay: -0.6s; }

@-webkit-keyframes spinner-chase {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner-chase {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes chase-dot {
  80%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes chase-dot {
  80%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes chase-dot-before {
  50% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }
  100%, 0% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes chase-dot-before {
  50% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }
  100%, 0% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

[type="tel"]::-webkit-input-placeholder, [type="url"]::-webkit-input-placeholder, [type="email"]::-webkit-input-placeholder, [type="number"]::-webkit-input-placeholder {
  text-align: left; }

[type="tel"]::-moz-placeholder, [type="url"]::-moz-placeholder, [type="email"]::-moz-placeholder, [type="number"]::-moz-placeholder {
  text-align: left; }

[type="tel"]:-ms-input-placeholder, [type="url"]:-ms-input-placeholder, [type="email"]:-ms-input-placeholder, [type="number"]:-ms-input-placeholder {
  text-align: left; }

[type="tel"]::-ms-input-placeholder, [type="url"]::-ms-input-placeholder, [type="email"]::-ms-input-placeholder, [type="number"]::-ms-input-placeholder {
  text-align: left; }

[type="tel"]::placeholder,
[type="url"]::placeholder,
[type="email"]::placeholder,
[type="number"]::placeholder {
  text-align: left; }

.form-check {
  position: relative;
  text-align: left; }

.form-check-right {
  padding-left: 0;
  display: inline-block;
  padding-right: 1.5em; }
  .form-check-right .form-check-input {
    float: right;
    margin-left: 0;
    margin-right: -1.5em; }
  .form-check-right .form-check-label {
    display: block; }

.form-checkbox-outline .form-check-input {
  border-width: 2px;
  background-color: #2a3142; }
  .form-checkbox-outline .form-check-input:active {
    -webkit-filter: none;
            filter: none; }
  .form-checkbox-outline .form-check-input:checked {
    background-color: #2a3142 !important; }
    .form-checkbox-outline .form-check-input:checked[type=checkbox] {
      background-image: none; }
    .form-checkbox-outline .form-check-input:checked:after {
      position: absolute;
      content: '\F012C';
      font-family: "Material Design Icons";
      top: -4px !important;
      left: 1px;
      /*rtl: -4px */
      font-size: 16px;
      color: #eff2f7; }

.form-radio-outline .form-check-input {
  border-width: 2px;
  background-color: #2a3142; }
  .form-radio-outline .form-check-input:active {
    -webkit-filter: none;
            filter: none; }
  .form-radio-outline .form-check-input:checked {
    background-color: #2a3142 !important; }
    .form-radio-outline .form-check-input:checked[type=checkbox] {
      background-image: none; }
    .form-radio-outline .form-check-input:checked:after {
      position: absolute;
      content: '\F0765';
      font-family: "Material Design Icons";
      top: 6px !important;
      left: 4px;
      font-size: 6px; }

.form-check-primary .form-check-input:checked {
  background-color: #d95a6f;
  border-color: #d95a6f; }

.form-radio-primary .form-check-input:checked {
  border-color: #d95a6f;
  background-color: #d95a6f; }
  .form-radio-primary .form-check-input:checked:after {
    color: #d95a6f; }

.form-check-secondary .form-check-input:checked {
  background-color: #bebfc3;
  border-color: #bebfc3; }

.form-radio-secondary .form-check-input:checked {
  border-color: #bebfc3;
  background-color: #bebfc3; }
  .form-radio-secondary .form-check-input:checked:after {
    color: #bebfc3; }

.form-check-success .form-check-input:checked {
  background-color: #58db83;
  border-color: #58db83; }

.form-radio-success .form-check-input:checked {
  border-color: #58db83;
  background-color: #58db83; }
  .form-radio-success .form-check-input:checked:after {
    color: #58db83; }

.form-check-info .form-check-input:checked {
  background-color: #0dcaf0;
  border-color: #0dcaf0; }

.form-radio-info .form-check-input:checked {
  border-color: #0dcaf0;
  background-color: #0dcaf0; }
  .form-radio-info .form-check-input:checked:after {
    color: #0dcaf0; }

.form-check-warning .form-check-input:checked {
  background-color: #f5b225;
  border-color: #f5b225; }

.form-radio-warning .form-check-input:checked {
  border-color: #f5b225;
  background-color: #f5b225; }
  .form-radio-warning .form-check-input:checked:after {
    color: #f5b225; }

.form-check-orange .form-check-input:checked {
  background-color: #f1734f;
  border-color: #f1734f; }

.form-radio-orange .form-check-input:checked {
  border-color: #f1734f;
  background-color: #f1734f; }
  .form-radio-orange .form-check-input:checked:after {
    color: #f1734f; }

.form-check-danger .form-check-input:checked {
  background-color: #7a6fbe;
  border-color: #7a6fbe; }

.form-radio-danger .form-check-input:checked {
  border-color: #7a6fbe;
  background-color: #7a6fbe; }
  .form-radio-danger .form-check-input:checked:after {
    color: #7a6fbe; }

.form-check-pink .form-check-input:checked {
  background-color: #e83e8c;
  border-color: #e83e8c; }

.form-radio-pink .form-check-input:checked {
  border-color: #e83e8c;
  background-color: #e83e8c; }
  .form-radio-pink .form-check-input:checked:after {
    color: #e83e8c; }

.form-check-light .form-check-input:checked {
  background-color: #30384b;
  border-color: #30384b; }

.form-radio-light .form-check-input:checked {
  border-color: #30384b;
  background-color: #30384b; }
  .form-radio-light .form-check-input:checked:after {
    color: #30384b; }

.form-check-dark .form-check-input:checked {
  background-color: #eff2f7;
  border-color: #eff2f7; }

.form-radio-dark .form-check-input:checked {
  border-color: #eff2f7;
  background-color: #eff2f7; }
  .form-radio-dark .form-check-input:checked:after {
    color: #eff2f7; }

.form-check-purple .form-check-input:checked {
  background-color: #6f42c1;
  border-color: #6f42c1; }

.form-radio-purple .form-check-input:checked {
  border-color: #6f42c1;
  background-color: #6f42c1; }
  .form-radio-purple .form-check-input:checked:after {
    color: #6f42c1; }

.form-check, .form-check-input, .form-check-label {
  cursor: pointer;
  margin-bottom: 0; }

.form-switch-md {
  padding-left: 2.5rem;
  min-height: 24px;
  line-height: 24px; }
  .form-switch-md .form-check-input {
    width: 40px;
    height: 20px;
    left: -0.5rem;
    position: relative; }
  .form-switch-md .form-check-label {
    vertical-align: middle; }

.form-switch-lg {
  padding-left: 2.75rem;
  min-height: 28px;
  line-height: 28px; }
  .form-switch-lg .form-check-input {
    width: 48px;
    height: 24px;
    left: -0.75rem;
    position: relative; }

.input-group-text {
  margin-bottom: 0px; }

/* ==============
  Widgets
===================*/
.widget-chart li {
  width: 31.5%;
  display: inline-block;
  padding: 0; }
  .widget-chart li i {
    font-size: 22px; }

.mini-stat {
  border: none; }
  .mini-stat .mini-stat-img {
    background: url(../images/bg-1.png);
    background-size: cover; }
  .mini-stat .mini-stat-icon i {
    font-size: 30px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: #fff !important;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: inline-block; }

.inbox-wid .inbox-item {
  position: relative;
  border-bottom: 1px solid #3a445b;
  overflow: hidden;
  padding: 10px 0; }
  .inbox-wid .inbox-item .inbox-item-date {
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 8px; }

.widget-user {
  overflow: hidden; }
  .widget-user .widget-user-desc:after {
    left: 18px;
    bottom: -20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #d95a6f;
    border-width: 10px;
    margin-left: -1px;
    border-right-color: #d95a6f; }

/* Activity */
.activity-feed {
  padding: 15px 15px 0 15px;
  list-style: none; }
  .activity-feed .feed-item {
    position: relative;
    padding-bottom: 29px;
    padding-left: 30px;
    border-left: 2px solid #3e4861; }
    .activity-feed .feed-item:last-child {
      border-color: transparent; }
    .activity-feed .feed-item::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      width: 16px;
      height: 10px;
      border-radius: 6px;
      background: #fff;
      border: 4px solid #d95a6f; }
    .activity-feed .feed-item .feed-item-list {
      padding: 12px 20px;
      border-radius: 7px;
      background: #30384b; }
      .activity-feed .feed-item .feed-item-list::after {
        left: 19px;
        top: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: #30384b;
        border-width: 10px;
        margin-left: -1px;
        border-right-color: #30384b; }
    .activity-feed .feed-item .date {
      display: block;
      position: relative;
      top: -5px;
      color: #8c96a3;
      text-transform: uppercase;
      font-size: 13px; }
    .activity-feed .feed-item .activity-text {
      position: relative;
      top: -3px; }

.button-items {
  margin-left: -8px;
  margin-bottom: -12px; }
  .button-items .btn {
    margin-bottom: 12px;
    margin-left: 8px; }

.mfp-popup-form {
  max-width: 1140px; }

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block; }

.icon-demo-content {
  text-align: center;
  color: #c0c0c0; }
  .icon-demo-content i {
    display: block;
    font-size: 24px;
    margin-bottom: 16px;
    color: #bebfc3;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
  .icon-demo-content .col-lg-4 {
    margin-top: 24px; }
    .icon-demo-content .col-lg-4:hover i {
      color: #d95a6f;
      -webkit-transform: scale(1.5);
              transform: scale(1.5); }

.grid-structure .grid-container {
  background-color: #30384b;
  margin-top: 10px;
  font-size: .8rem;
  font-weight: 500;
  padding: 10px 20px; }

@media print {
  .vertical-menu,
  .right-bar,
  .page-title-box,
  .navbar-header,
  .footer {
    display: none !important; }
  .card-body,
  .main-content,
  .right-bar,
  .page-content,
  body {
    padding: 0;
    margin: 0; }
  .card {
    border: 0; } }

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit; }

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0; }

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0 !important;
  bottom: 0;
  right: 0 !important;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch; }

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: auto;
  /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  padding: 0px !important; }

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none; }

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table; }

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none; }

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0; }

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1; }

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden; }

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all; }

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 4px;
  min-height: 10px; }

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: #a2adb7;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear; }

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px; }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px; }

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto; }

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0; }

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll; }

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none; }

.custom-scroll {
  height: 100%; }

/* ==============
  Calendar
===================*/
[dir="rtl"] .fc-header-toolbar {
  direction: ltr; }

.fc-toolbar > * > :not(:first-child) {
  margin-left: 0.75em; }

.fc td,
.fc th {
  border: 1px solid #3a4358; }

.fc .fc-toolbar h2 {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase; }

@media (max-width: 767.98px) {
  .fc .fc-toolbar .fc-left,
  .fc .fc-toolbar .fc-right,
  .fc .fc-toolbar .fc-center {
    float: none;
    display: block;
    text-align: center;
    clear: both;
    margin: 10px 0; }
  .fc .fc-toolbar > * > * {
    float: none; }
  .fc .fc-toolbar .fc-today-button {
    display: none; } }

.fc .fc-toolbar .btn {
  text-transform: capitalize; }

.fc th.fc-widget-header {
  background: #353c4c;
  color: #f6f6f6;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600; }

.fc-day-header {
  padding: 8px 0 !important;
  background-color: #30384b; }

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #353c4c; }

.fc-unthemed td.fc-today {
  background: #3a445b; }

.fc-button {
  background: #2a3142;
  border-color: #3a4358;
  color: #f6f6f6;
  text-transform: capitalize;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 6px 12px !important;
  height: auto !important; }

.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  background-color: #d95a6f;
  color: #fff;
  text-shadow: none; }

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 7px !important;
  text-align: center; }

.fc-event,
.fc-event-dot {
  background-color: #d95a6f; }

.fc-event .fc-content {
  color: #fff; }

#external-events .external-event {
  text-align: left !important;
  padding: 4px; }

.fc-bootstrap .fc-today.alert-info {
  background-color: #353c4c; }

.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.bg-dark {
  background-color: #000 !important; }

#session-timeout-dialog .close {
  display: none; }

#session-timeout-dialog .countdown-holder {
  color: #7a6fbe;
  font-weight: 500; }

#session-timeout-dialog .btn-default {
  background-color: #fff;
  color: #7a6fbe;
  -webkit-box-shadow: none;
          box-shadow: none; }

.irs--modern .irs-bar, .irs--modern .irs-to, .irs--modern .irs-from, .irs--modern .irs-single {
  background: #d95a6f !important;
  font-size: 11px; }

.irs--modern .irs-to:before, .irs--modern .irs-from:before, .irs--modern .irs-single:before {
  border-top-color: #d95a6f; }

.irs--modern .irs-line {
  background: #353c4c;
  border-color: #353c4c; }

.irs--modern .irs-grid-text {
  font-size: 11px;
  color: #dee2e6; }

.irs--modern .irs-min, .irs--modern .irs-max {
  color: #c0c0c0;
  background: #30384b;
  font-size: 11px; }

.irs--modern .irs-handle {
  width: 12px;
  height: 12px;
  top: 37px;
  background-color: #2a3142 !important; }
  .irs--modern .irs-handle > i:nth-child(1) {
    width: 8px;
    height: 8px; }

.swal2-container .swal2-title {
  font-size: 20px;
  font-weight: 500; }

.swal2-content {
  font-size: 16px; }

.swal2-icon.swal2-question {
  border-color: #0dcaf0;
  color: #0dcaf0; }

.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #58db83; }

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: rgba(88, 219, 131, 0.3); }

.swal2-icon.swal2-warning {
  border-color: #f5b225;
  color: #f5b225; }

.swal2-styled:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.swal2-progress-steps .swal2-progress-step {
  background: #d95a6f; }
  .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
    background: #d95a6f; }
    .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step, .swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line {
      background: rgba(217, 90, 111, 0.3); }

.swal2-progress-steps .swal2-progress-step-line {
  background: #d95a6f; }

.swal2-loader {
  border-color: #d95a6f transparent #d95a6f transparent; }

.error {
  color: #7a6fbe; }

.parsley-error {
  border-color: #7a6fbe; }

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0; }
  .parsley-errors-list.filled {
    display: block; }
  .parsley-errors-list > li {
    font-size: 12px;
    list-style: none;
    color: #7a6fbe;
    margin-top: 5px; }

[dir="rtl"]
.select2-results__options {
  direction: ltr; }

.select2-container .select2-selection--single {
  background-color: #30384b;
  border: 1px solid #3a4358;
  height: 38px; }
  .select2-container .select2-selection--single:focus {
    outline: none; }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
    color: #c0c0c0;
    float: left; }
  .select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px; }
    .select2-container .select2-selection--single .select2-selection__arrow b {
      border-color: #c0c0c0 transparent transparent transparent;
      border-width: 6px 6px 0 6px; }
  .select2-container .select2-selection--single .select2-selection__placeholder {
    color: #dee2e6; }

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #c0c0c0 transparent !important;
  border-width: 0 6px 6px 6px !important; }

.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: #363f55; }
  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #3a4358;
    background-color: #30384b;
    color: #bebfc3;
    outline: none;
    text-align: left; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #d95a6f; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #353c4c;
  color: #f8f9fa; }
  .select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #d95a6f;
    color: #fff; }

.select2-results__option {
  padding: 6px 12px; }

.select2-dropdown {
  border: 1px solid #3e475c;
  background-color: #363f55;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12); }

.select2-search input {
  border: 1px solid #353c4c; }

.select2-container .select2-selection--multiple {
  min-height: 38px;
  background-color: #30384b;
  border: 1px solid #3a4358 !important; }
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 10px; }
    .select2-container .select2-selection--multiple .select2-selection__rendered li {
      float: left; }
  .select2-container .select2-selection--multiple .select2-search__field {
    border: 0;
    color: #c0c0c0; }
    .select2-container .select2-selection--multiple .select2-search__field::-webkit-input-placeholder {
      color: #c0c0c0; }
    .select2-container .select2-selection--multiple .select2-search__field::-moz-placeholder {
      color: #c0c0c0; }
    .select2-container .select2-selection--multiple .select2-search__field:-ms-input-placeholder {
      color: #c0c0c0; }
    .select2-container .select2-selection--multiple .select2-search__field::-ms-input-placeholder {
      color: #c0c0c0; }
    .select2-container .select2-selection--multiple .select2-search__field::placeholder {
      color: #c0c0c0; }
  .select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #363f55;
    border: 1px solid #353c4c;
    border-radius: 1px;
    padding: 0 7px; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #dee2e6; }

.select2-container--default .select2-results__group {
  font-weight: 600; }

.select2-result-repository__avatar {
  float: left;
  width: 60px;
  margin-right: 10px; }
  .select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px; }

.select2-result-repository__statistics {
  margin-top: 7px; }

.select2-result-repository__forks,
.select2-result-repository__stargazers,
.select2-result-repository__watchers {
  display: inline-block;
  font-size: 11px;
  margin-right: 1em;
  color: #c0c0c0; }
  .select2-result-repository__forks .fa,
  .select2-result-repository__stargazers .fa,
  .select2-result-repository__watchers .fa {
    margin-right: 4px; }
    .select2-result-repository__forks .fa.fa-flash::before,
    .select2-result-repository__stargazers .fa.fa-flash::before,
    .select2-result-repository__watchers .fa.fa-flash::before {
      content: "\f0e7";
      font-family: 'Font Awesome 5 Free'; }

.select2-results__option--highlighted .select2-result-repository__forks,
.select2-results__option--highlighted .select2-result-repository__stargazers,
.select2-results__option--highlighted .select2-result-repository__watchers {
  color: rgba(255, 255, 255, 0.8); }

.select2-result-repository__meta {
  overflow: hidden; }

.img-flag {
  margin-right: 7px;
  height: 15px;
  width: 18px; }

/* CSS Switch */
input[switch] {
  display: none; }
  input[switch] + label {
    font-size: 1em;
    line-height: 1;
    width: 56px;
    height: 24px;
    background-color: #dee2e6;
    background-image: none;
    border-radius: 2rem;
    padding: 0.16667rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: 500;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    input[switch] + label:before {
      color: #eff2f7;
      content: attr(data-off-label);
      display: block;
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      line-height: 21px;
      position: absolute;
      right: 1px;
      margin: 3px;
      top: -2px;
      text-align: center;
      min-width: 1.66667rem;
      overflow: hidden;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
    input[switch] + label:after {
      content: '';
      position: absolute;
      left: 3px;
      background-color: #363f55;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 2rem;
      height: 20px;
      width: 20px;
      top: 2px;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
  input[switch]:checked + label {
    background-color: #d95a6f; }

input[switch]:checked + label {
  background-color: #d95a6f; }
  input[switch]:checked + label:before {
    color: #fff;
    content: attr(data-on-label);
    right: auto;
    left: 3px; }
  input[switch]:checked + label:after {
    left: 33px;
    background-color: #363f55; }

input[switch="bool"] + label {
  background-color: #7a6fbe; }

input[switch="bool"] + label:before, input[switch="bool"]:checked + label:before,
input[switch="default"]:checked + label:before {
  color: #fff; }

input[switch="bool"]:checked + label {
  background-color: #58db83; }

input[switch="default"]:checked + label {
  background-color: #a2a2a2; }

input[switch="primary"]:checked + label {
  background-color: #d95a6f; }

input[switch="success"]:checked + label {
  background-color: #58db83; }

input[switch="info"]:checked + label {
  background-color: #0dcaf0; }

input[switch="warning"]:checked + label {
  background-color: #f5b225; }

input[switch="danger"]:checked + label {
  background-color: #7a6fbe; }

input[switch="dark"]:checked + label {
  background-color: #eff2f7; }

.square-switch {
  margin-right: 7px; }
  .square-switch input[switch] + label, .square-switch input[switch] + label:after {
    border-radius: 4px; }

/* 
Datatable
*/
.table-bordered {
  border: 1px solid #3a4358; }

div.dataTables_wrapper div.dataTables_filter {
  text-align: right; }
  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    margin-right: 0; }

.bootstrap-touchspin.input-group > .input-group-prepend > .btn, .bootstrap-touchspin.input-group > .input-group-prepend > .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.bootstrap-touchspin.input-group > .input-group-append > .btn, .bootstrap-touchspin.input-group > .input-group-append > .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.sp-container {
  background-color: #363f55; }
  .sp-container button {
    padding: .25rem .5rem;
    font-size: .71094rem;
    border-radius: .2rem;
    font-weight: 400;
    color: #eff2f7; }
    .sp-container button.sp-palette-toggle {
      background-color: #30384b; }
    .sp-container button.sp-choose {
      background-color: #58db83; }

.sp-palette-container {
  border-color: #3a4358; }

.sp-input {
  background-color: #30384b;
  border-color: #3a4358 !important;
  color: #c0c0c0; }
  .sp-input:focus {
    outline: none; }

[dir="rtl"] .sp-alpha {
  direction: ltr; }

[dir="rtl"] .sp-original-input-container .sp-add-on {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important; }

[dir="rtl"] input.spectrum.with-add-on {
  border: 1px solid #3a4358;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

[dir="rtl"] .datepicker {
  right: 0 !important;
  left: auto; }

[dir="rtl"] .bootstrap-timepicker-widget {
  right: 0 !important;
  left: auto; }

[dir="rtl"] .timepicker-orient-top {
  top: calc(1.5em + 0.75rem + 2px) !important; }

[dir="rtl"] .timepicker-orient-bottom {
  top: auto !important;
  bottom: calc(1.5em + 0.75rem + 2px) !important; }

.datepicker {
  border: 1px solid #3a4358;
  padding: 8px;
  z-index: 999 !important; }
  .datepicker table tr th {
    font-weight: 500; }
  .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td .active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover,
  .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active {
    background-color: #d95a6f !important;
    background-image: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff !important; }
  .datepicker table tr td.day.focused, .datepicker table tr td.day:hover,
  .datepicker table tr td span.focused,
  .datepicker table tr td span:hover {
    background: #30384b; }
  .datepicker table tr td.new, .datepicker table tr td.old,
  .datepicker table tr td span.new,
  .datepicker table tr td span.old {
    color: #c0c0c0;
    opacity: 0.6; }
  .datepicker table tr td.range, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover, .datepicker table tr td.range:hover {
    background-color: #353c4c; }

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > td {
  padding: 7px; }

.bootstrap-datepicker-inline .datepicker-inline {
  width: auto !important;
  display: inline-block; }

.datepicker-container {
  border: 1px solid #3a4358;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #363f55; }
  .datepicker-container.datepicker-inline {
    width: 212px; }

.datepicker-panel > ul > li {
  background-color: #363f55;
  border-radius: 4px; }
  .datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
    background-color: rgba(217, 90, 111, 0.25);
    color: #d95a6f; }
  .datepicker-panel > ul > li.highlighted, .datepicker-panel > ul > li.highlighted:hover, .datepicker-panel > ul > li:hover {
    background-color: #d95a6f;
    color: #fff; }
  .datepicker-panel > ul > li.muted, .datepicker-panel > ul > li.muted:hover {
    color: #c0c0c0;
    opacity: 0.6; }

.datepicker-panel > ul[data-view=week] > li {
  font-weight: 500; }

.datepicker-panel > ul[data-view=week] > li, .datepicker-panel > ul[data-view=week] > li:hover {
  background-color: #363f55; }

.tox-tinymce {
  border: 1px solid #3a4358 !important; }

.tox .tox-statusbar {
  border-top: 1px solid #353c4c !important; }

.tox .tox-menubar, .tox .tox-edit-area__iframe, .tox .tox-statusbar {
  background-color: #2a3142 !important;
  background: none !important; }

.tox .tox-mbtn {
  color: #f6f6f6 !important; }
  .tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active) {
    background-color: #30384b !important; }

.tox .tox-tbtn:hover {
  background-color: #30384b !important; }

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
  background: #30384b !important; }

.tox .tox-toolbar__primary {
  border-top-color: #30384b !important; }

.tox .tox-toolbar__primary {
  border-top: 1px solid #353c4c !important;
  border-bottom: 1px solid #353c4c !important; }

.tox .tox-tbtn {
  color: #f6f6f6 !important; }
  .tox .tox-tbtn svg {
    fill: #f6f6f6 !important; }

.tox .tox-edit-area__iframe {
  background-color: #2a3142 !important; }

.tox .tox-statusbar a, .tox .tox-statusbar__path-item, .tox .tox-statusbar__wordcount {
  color: #f6f6f6 !important; }

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
  border-right: 1px solid #353c4c !important; }

.tox-tinymce-aux {
  z-index: 1000 !important; }

.editable-input .form-control {
  display: inline-block; }

.editable-buttons {
  margin-left: 7px; }
  .editable-buttons .editable-cancel {
    margin-left: 7px; }

/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed #353c4c;
  background: #2a3142;
  border-radius: 6px; }
  .dropzone .dz-message {
    font-size: 24px; }

.table-rep-plugin .btn-toolbar {
  display: block; }

.table-rep-plugin .table-responsive {
  border: none !important; }

.table-rep-plugin .btn-group .btn-default {
  background-color: #bebfc3;
  color: #30384b;
  border: 1px solid #bebfc3; }
  .table-rep-plugin .btn-group .btn-default.btn-primary {
    background-color: #d95a6f;
    border-color: #d95a6f;
    color: #fff;
    -webkit-box-shadow: 0 0 0 2px rgba(217, 90, 111, 0.5);
            box-shadow: 0 0 0 2px rgba(217, 90, 111, 0.5); }

.table-rep-plugin .btn-group.pull-right {
  float: right; }
  .table-rep-plugin .btn-group.pull-right .dropdown-menu {
    right: 0;
    -webkit-transform: none !important;
            transform: none !important;
    top: 100% !important; }

.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal; }

.table-rep-plugin .checkbox-row {
  padding-left: 40px;
  color: #dee2e6 !important; }
  .table-rep-plugin .checkbox-row:hover {
    background-color: #3a445b !important; }
  .table-rep-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative; }
    .table-rep-plugin .checkbox-row label::before {
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #353c4c;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      transition: 0.3s ease-in-out;
      width: 17px;
      outline: none !important; }
    .table-rep-plugin .checkbox-row label::after {
      color: #363f55;
      display: inline-block;
      font-size: 11px;
      height: 16px;
      left: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: -1px;
      width: 16px; }
  .table-rep-plugin .checkbox-row input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important; }
    .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: none; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label::before {
    background-color: #30384b;
    cursor: not-allowed; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
    background-color: #d95a6f;
    border-color: #d95a6f; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    color: #fff; }

.table-rep-plugin .fixed-solution .sticky-table-header {
  top: 70px !important;
  background-color: #d95a6f; }
  .table-rep-plugin .fixed-solution .sticky-table-header table {
    color: #fff; }

.table-rep-plugin table.focus-on tbody tr.focused th,
.table-rep-plugin table.focus-on tbody tr.focused td,
.table-rep-plugin .sticky-table-header {
  background: #d95a6f;
  border-color: #d95a6f;
  color: #fff; }
  .table-rep-plugin table.focus-on tbody tr.focused th table,
  .table-rep-plugin table.focus-on tbody tr.focused td table,
  .table-rep-plugin .sticky-table-header table {
    color: #fff; }

@media (min-width: 992px) {
  body[data-layout="horizontal"] .fixed-solution .sticky-table-header {
    top: 148px !important; } }

.table-edits input, .table-edits select {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  border: 1px solid #3a4358;
  color: #c0c0c0;
  background-color: #30384b;
  border-radius: 0.25rem; }
  .table-edits input:focus, .table-edits select:focus {
    outline: none;
    border-color: #3e475b; }

/* Flot chart */
.flot-charts-height {
  height: 320px; }

.flotTip {
  padding: 8px 12px;
  background-color: rgba(239, 242, 247, 0.9);
  z-index: 100;
  color: #30384b;
  -webkit-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
          box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  border-radius: 4px; }

.legendLabel {
  color: #c0c0c0; }

.morris-charts text {
  fill: #c0c0c0;
  font-family: "Poppins", sans-serif !important; }

.morris-charts-height {
  height: 300px; }

.morris-hover {
  position: absolute;
  z-index: 10; }
  .morris-hover.morris-default-style {
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 12px;
    background: rgba(48, 56, 75, 0.8);
    color: #eff2f7;
    border: 2px solid #363f55; }
    .morris-hover.morris-default-style .morris-hover-row-label {
      font-weight: bold;
      margin: 0.25em 0; }
    .morris-hover.morris-default-style .morris-hover-point {
      white-space: nowrap;
      margin: 0.1em 0;
      color: #fff; }

.ct-golden-section:before {
  float: none; }

.ct-chart {
  max-height: 320px; }
  .ct-chart .ct-label {
    fill: #c0c0c0;
    color: #c0c0c0;
    font-size: 12px;
    line-height: 1; }

.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #fff;
  fill: #fff;
  font-size: 16px; }

.ct-grid {
  stroke: rgba(239, 242, 247, 0.09);
  stroke-width: 1px;
  stroke-dasharray: 3px; }

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #d95a6f; }

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #0dcaf0; }

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #f5b225; }

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #eff2f7; }

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #58db83; }

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #7a6fbe; }

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #30384b; }

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #d95a6f; }

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #f5b225; }

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #eff2f7; }

.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
  fill: #58db83; }

.ct-area {
  fill-opacity: .33; }

.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  border-radius: 3px;
  background: #eff2f7;
  color: #353c4c;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .chartist-tooltip.tooltip-show {
    opacity: 1; }

.ct-line {
  stroke-width: 3px; }

.ct-point {
  stroke-width: 7px; }

.c3-tooltip {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  opacity: 1; }
  .c3-tooltip td {
    border-left: none; }
    .c3-tooltip td > span {
      background: #eff2f7; }
  .c3-tooltip tr {
    border: none !important; }
  .c3-tooltip th {
    background-color: #eff2f7;
    color: #30384b; }

.c3-chart-arcs-title {
  font-size: 18px;
  font-weight: 600; }

.c3 text {
  fill: #c0c0c0; }

.c3 line, .c3 path {
  stroke: #dee2e6; }

.c3-legend-item {
  font-size: 14px; }

.c3 line, .c3 path {
  stroke: #dee2e6; }

.c3-chart-arc.c3-target g path {
  stroke: #fff; }

.jqstooltip {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: #eff2f7 !important;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: #f8f9fa !important; }

.jqsfield {
  color: #363f55 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important; }

.gmaps, .gmaps-panaroma {
  height: 300px !important;
  background: #30384b;
  border-radius: 3px; }

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  background: #d95a6f;
  border-radius: 4px;
  padding: 10px 20px; }

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute; }
  .gmaps-overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #d95a6f; }
  .gmaps-overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #d95a6f; }

.jvectormap-label {
  border: none;
  background: #eff2f7;
  color: #30384b;
  font-family: "Poppins", sans-serif;
  font-size: 0.8125rem;
  padding: 5px 8px; }

.home-btn {
  position: absolute;
  top: 15px;
  right: 25px; }

.auth-logo .auth-logo-dark {
  display: none;
  margin: 0px auto; }

.auth-logo .auth-logo-light {
  display: block;
  margin: 0px auto; }

.ex-page-content h1 {
  font-size: 98px;
  font-weight: 500;
  line-height: 150px;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px; }

/* ==============
  Email
===================*/
.email-leftbar {
  width: 236px;
  float: left;
  padding: 20px;
  border-radius: 5px; }

.email-rightbar {
  margin-left: 260px; }

.chat-user-box p.user-title {
  color: #eff2f7;
  font-weight: 500; }

.chat-user-box p {
  font-size: 13px; }

@media (max-width: 767px) {
  .email-leftbar {
    float: none;
    width: 100%; }
  .email-rightbar {
    margin: 0; } }

.mail-list a {
  display: block;
  color: #eff2f7;
  line-height: 24px;
  padding: 6px 5px; }
  .mail-list a.active {
    color: #7a6fbe;
    font-weight: 500; }

.message-list {
  display: block;
  padding-left: 0; }
  .message-list li {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    cursor: default;
    -webkit-transition-duration: .3s;
            transition-duration: .3s; }
    .message-list li a {
      color: #bebfc3; }
    .message-list li:hover {
      background: #30384b;
      -webkit-transition-duration: .05s;
              transition-duration: .05s; }
    .message-list li .col-mail {
      float: left;
      position: relative; }
    .message-list li .col-mail-1 {
      width: 320px; }
      .message-list li .col-mail-1 .star-toggle,
      .message-list li .col-mail-1 .checkbox-wrapper-mail,
      .message-list li .col-mail-1 .dot {
        display: block;
        float: left; }
      .message-list li .col-mail-1 .dot {
        border: 4px solid transparent;
        border-radius: 100px;
        margin: 22px 26px 0;
        height: 0;
        width: 0;
        line-height: 0;
        font-size: 0; }
      .message-list li .col-mail-1 .checkbox-wrapper-mail {
        margin: 15px 10px 0 20px; }
      .message-list li .col-mail-1 .star-toggle {
        margin-top: 18px;
        margin-left: 5px; }
      .message-list li .col-mail-1 .title {
        position: absolute;
        top: 0;
        left: 110px;
        right: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0; }
    .message-list li .col-mail-2 {
      position: absolute;
      top: 0;
      left: 320px;
      right: 0;
      bottom: 0; }
      .message-list li .col-mail-2 .subject,
      .message-list li .col-mail-2 .date {
        position: absolute;
        top: 0; }
      .message-list li .col-mail-2 .subject {
        left: 0;
        right: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .message-list li .col-mail-2 .date {
        right: 0;
        width: 170px;
        padding-left: 80px; }
    .message-list li.active, .message-list li.active:hover {
      -webkit-box-shadow: inset 3px 0 0 #d95a6f;
              box-shadow: inset 3px 0 0 #d95a6f; }
    .message-list li.unread {
      background-color: #30384b;
      font-weight: 500;
      color: #dee4ef; }
      .message-list li.unread a {
        color: #dee4ef;
        font-weight: 500; }
  .message-list .checkbox-wrapper-mail {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: inset 0 0 0 1px #dee2e6;
            box-shadow: inset 0 0 0 1px #dee2e6;
    border-radius: 1px; }
    .message-list .checkbox-wrapper-mail input {
      opacity: 0;
      cursor: pointer; }
    .message-list .checkbox-wrapper-mail input:checked ~ label {
      opacity: 1; }
    .message-list .checkbox-wrapper-mail label {
      position: absolute;
      height: 20px;
      width: 20px;
      left: 0;
      cursor: pointer;
      opacity: 0;
      margin-bottom: 0;
      -webkit-transition-duration: .05s;
              transition-duration: .05s;
      top: 0; }
      .message-list .checkbox-wrapper-mail label:before {
        content: "\F012C";
        font-family: "Material Design Icons";
        top: 0;
        height: 20px;
        color: #dee4ef;
        width: 20px;
        position: absolute;
        margin-top: -16px;
        left: 4px;
        font-size: 13px; }

@media (max-width: 575.98px) {
  .message-list li .col-mail-1 {
    width: 200px; } }

/* Timeline */
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }

.cd-container::after {
  content: '';
  display: table;
  clear: both; }

@media only screen and (max-width: 1170px) {
  #cd-timeline {
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 2em 0;
    position: relative; }
    #cd-timeline::before {
      border-left: 3px solid #363f55;
      content: '';
      height: 100%;
      left: 18px;
      position: absolute;
      top: 0;
      width: 3px; }
  .cd-timeline-img {
    top: 10px !important; } }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-bottom: 3em;
    margin-top: 3em; }
    #cd-timeline::before {
      left: 50%;
      margin-left: -2px; } }

.cd-timeline-block {
  margin: 2em 0;
  position: relative; }
  .cd-timeline-block:after {
    clear: both;
    content: "";
    display: table; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0; }
  .cd-timeline-block:first-child {
    margin-top: 0; }
  .cd-timeline-block:last-child {
    margin-bottom: 0; }
  .timeline-right::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 3px;
    background: #363f55;
    left: 50%;
    top: 150px;
    -webkit-transform: translateX(-50%) rotate(35deg);
            transform: translateX(-50%) rotate(35deg); }
  .timeline-left::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 3px;
    background: #363f55;
    left: 50%;
    top: 150px;
    -webkit-transform: translateX(-50%) rotate(-35deg);
            transform: translateX(-50%) rotate(-35deg); } }

.cd-timeline-img {
  position: absolute;
  top: 20px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  background-color: #d95a6f;
  border: 5px solid #363f55; }
  .cd-timeline-img i {
    margin-left: 1px; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 40px;
    height: 40px;
    line-height: 32px;
    left: 50%;
    margin-left: -20px;
    top: 130px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; } }

.cd-timeline-content {
  border-radius: 5px;
  background: #30384b;
  margin-left: 60px;
  padding: 1em;
  position: relative; }
  .cd-timeline-content:after {
    clear: both;
    content: "";
    display: table; }
  .cd-timeline-content h2 {
    margin-top: 0; }
  .cd-timeline-content .cd-read-more {
    background: #d95a6f;
    border-radius: 0.25em;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 14px;
    padding: .8em 1em; }
  .cd-timeline-content .cd-date {
    display: inline-block;
    font-size: 14px; }
  .cd-timeline-content h3 {
    font-size: 16px;
    margin: 0 0 15px 0; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-right: 12px solid #30384b; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 36%; }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #30384b; }
  .cd-timeline-content .cd-read-more {
    float: left; }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 108%;
    top: 16px; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #30384b; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 106%;
    text-align: right; } }

.directory-card {
  overflow: hidden; }
  .directory-card .directory-bg {
    background-image: url("../images/directory-bg.jpg");
    background-size: cover;
    background-position: center center; }
  .directory-card .directory-overlay {
    background-color: rgba(217, 90, 111, 0.7);
    padding: 20px; }
  .directory-card img {
    position: relative;
    top: 60px; }
card img {
    position: relative;
    top: 60px; }
