﻿.page-actions-group {
    float: right;
}
.text-right{
    text-align : right;
}

.with-icon{
    margin-left:5px;
}

.card-header-custom{
    background: #ffffff !important;
}

.input-group-addon {
    padding: 10px;
    background: #dcdcdc;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
