﻿@model Wezit.WebUI.Models.CustomerViewModel


<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">First Name</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter First Name"
                   asp-for="Firstname" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Last Name</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Last Name"
                   asp-for="Lastname" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Phone Number</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Phone Number"
                   asp-for="PhoneNumber" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Email Address</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Email Address"
                   asp-for="EmailAddress" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Company Name</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Company Name"
                   asp-for="CompanyName" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Select Country</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <select class="form-control input" asp-for="CountryId" required>
                <option value="1">Malawi</option>
            </select>
        </div>
    </div>
</div>


<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">City</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter City"
                   asp-for="City" required>
        </div>
    </div>
</div>


<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Physical Address</label>
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Physical Address"
                   asp-for="PhysicalAddress" required>
        </div>
    </div>
</div>

<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Postal Address</label>
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="text" class="form-control input" placeholder="Enter Postal Address"
                   asp-for="PostalAddress" required>
        </div>
    </div>
</div>


<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">National ID</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <input type="file" class="filestyle" name="customerIdentificationCard" data-buttonname="btn-secondary">
        </div>
    </div>
</div>
<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Company Registration Certificate</label>

    <div class="col-md-6">
        <input type="file" class="filestyle" name="companyIdentification" data-buttonname="btn-secondary">
    </div>
</div>




