﻿@model Wezit.DataModels.DTO.CustomerDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">First Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.Firstname)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Last Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.Lastname)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Phone Number</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Email</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">PhysicalAddress</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.PhysicalAddress)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Postal Address</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.PostalAddress)
    </div>
</div>
