﻿@{
    ViewData["Title"] = "Customers";
    ViewData["MainURLStub"] = "Customer";
    ViewData["ShowPageButtons"] = true;
}
@model IEnumerable<Wezit.DataModels.DTO.CustomerDTO>
@section PageCss{

    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">@ViewData["Title"]</h4>

                <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Physical Address</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td>@customer.Firstname</td>
                                <td>@customer.Lastname</td>
                                <td>@customer.PhoneNumber</td>
                                <td>@customer.EmailAddress</td>
                                <td>@customer.PhysicalAddress</td>
                                <td style="width: 70px; text-align: center;">
                                    <a class="btn btn-outline-secondary btn-sm edit" href="@Url.Action("Download","Customer", new { fileLocation=customer.IsCompany?customer.CompanyRegDocPath:customer.CustomerIdPath})" target="_blank" >
                                        <i class="fas fa-download"></i>
                                    </a>
                                </td>
                                <td style="width: 70px; text-align: center;">
                                    <a class="btn btn-outline-secondary btn-sm edit" asp-action="Details" asp-route-customerId="@customer.CustomerId">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->

@section Scripts{
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script src="~/assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/js/pages/datatables.init.js"></script>
}