﻿@model Wezit.DataModels.DTO.TruckCompanySubscriptionDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Subscription Band</label>
    </div>
    <div class="col-md-10 txt-dark">
    class="col-md-10 txt-dark">
        @if (Model.TruckCompany != null)
        {
            @Html.DisplayFor(model => model.TruckCompany.CompanyName) 
        }
        else
        {
            @Html.DisplayFor(model => model.TruckCompanyId)
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Company Name</label>
    </div>
    <div class="col-md-10 txt-dark">
        @if (Model.Band != null)
        {
            @Html.DisplayFor(model => model.Band.BandName)
        }
        else
        {
            @Html.DisplayFor(model => model.BandId)
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Start Date</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.SubscriptionStartDate)
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">End Date</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.SubscriptionEndDate)
    </div>
</div>