﻿@model Wezit.DataModels.ViewModels.TruckCompanySubscriptionViewModel
@using System.Security.Claims
<div class="form-group mb-3  row">
    <label class="bold-text-600 col-md-3 control-label">Subscription Band</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-arrow-down"></i></span>
            <select class="form-control input" asp-for="TruckCompanySubscription.BandId"
                    asp-items="@(new SelectList(Model.BandSubscriptions, "BandId", "BandName") )" required></select>
        </div>
    </div>
</div>

@if (@User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "1")
{
    <div class="form-group mb-3  row">
        <label class="bold-text-600 col-md-3 control-label">Truck Company</label>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-arrow-down"></i></span>
                <select class="form-control input" asp-for="TruckCompanySubscription.TruckCompanyId"
                        asp-items="@(new SelectList(Model.TruckOwners, "TruckCompanyId", "CompanyName") )" required></select>
            </div>
        </div>
    </div>
}
else if (@User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.GroupSid))?.Value == "2")
{
    <input type="hidden" class="form-control input"
           asp-for="TruckCompanySubscription.TruckCompanyId" value="@User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.PrimarySid))?.Value" required>
}



<div class="form-group mb-3 row">
    <label class="bold-text-600 col-md-3 control-label">Period</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pen"></i></span>
            <select class="form-control" id="ddlPeriod">
                <option value="3">Three (3) Months</option>
                <option value="6">Six (6) Months</option>
                <option value="9">Nine (9) Months</option>
                <option value="12">Twelve (12) Months</option>
            </select>
        </div>
    </div>
</div>

<input type="hidden" class="form-control input"
       asp-for="TruckCompanySubscription.SubscriptionStartDate" id="txtStartDate" required>

<input type="hidden" class="form-control input"
       asp-for="TruckCompanySubscription.SubscriptionEndDate" id="txtEndDate" required>

