﻿@{
    ViewData["Title"] = "Create Truck Owner";
    ViewData["MainURLStub"] = "TruckCompanySubscription";
    ViewData["ShowPageButtons"] = false;
}
@model Wezit.DataModels.ViewModels.TruckCompanySubscriptionViewModel

<div class="row">
    <div class="col-12">
        <div class="card">
            <form asp-action="Create" class="form-horizontal" name="subscriptionForm">

                <div class="card-header card-header-custom">
                    <h4 class="mt-2 card-title">@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    @{ Html.RenderPartial("../Shared/_MessageOutput"); }

                    @{ await Html.RenderPartialAsync("_DataEntry"); }
                    <div class="col-md-6 offset-3">
                        <div id="smart-button-container">
                            <div style="text-align: center;">
                                <div id="paypal-button-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
@section scripts{
    <script src="~/assets/libs/moment/moment.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=Aa9YdmwEgP-6nB5U4uhalw-MxjXJIIco5wGHgf-c_vHTRFwuClmV2glwi3YneoMe6o58TrggiE9PQa9k&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
        function initPayPalButton() {
            paypal.Buttons({
                style: {
                    shape: 'rect',
                    color: 'gold',
                    layout: 'vertical',
                    label: 'paypal',

                },

                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{ "amount": { "currency_code": "USD", "value": 1 } }]
                    });
                },

                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (orderData) {

                        // Full available details
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                        // Show a success message within this page, e.g.
                        const element = document.getElementById('paypal-button-container');
                        element.innerHTML = '';
                        element.innerHTML = '<h3>Thank you for your payment!</h3>';

                        setTimeout(
                            function () {
                                $("#subscriptionForm").submit();
                            }, 3000);
                       

                    });
                },

                onError: function (err) {
                    console.log(err);
                }
            }).render('#paypal-button-container');
        }
        initPayPalButton();
    </script>
}